<div class="belt-rank">
	<div class="belt-rank__header">
		<div class="belt-rank__header-title">
			<span class="icon-Reward"></span>
			<p>Belt Rank</p>
		</div>
		<div class="belt-rank__header-extra">
			<div class="header-extra__item">
				<button
					class="dropdown-toggle"
					type="button"
					id="dropdownMenuReference"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
					data-reference="parent"
				>
					Filter - 0
					<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
				</button>
				<div
					class="dropdown-menu dropdown-filter"
					aria-labelledby="dropdownMenuReference"
				>
					<div class="dropdown-filter__content">
						<h3>Filter</h3>
						<div class="filter-category">
							<h6>Belt</h6>
							<div
								class="filter-category__list row no-gutters align-items-center"
							>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="beltCheck1"
										/>
										<label class="custom-control-label" for="beltCheck1"
											>Yellow Belt</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="beltCheck2"
										/>
										<label class="custom-control-label" for="beltCheck2"
											>Black Belt</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="beltCheck3"
										/>
										<label class="custom-control-label" for="beltCheck3"
											>Green Belt</label
										>
									</div>
								</div>
							</div>
							<hr />
							<h6>Function</h6>
							<div
								class="filter-category__list row no-gutters align-items-center"
							>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck1"
										/>
										<label class="custom-control-label" for="functionCheck1"
											>Marketing</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck2"
										/>
										<label class="custom-control-label" for="functionCheck2"
											>Directur</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck3"
										/>
										<label class="custom-control-label" for="functionCheck3"
											>President Directur</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck4"
										/>
										<label class="custom-control-label" for="functionCheck4">
											CEO</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck5"
										/>
										<label class="custom-control-label" for="functionCheck5"
											>Sales</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="functionCheck6"
										/>
										<label class="custom-control-label" for="functionCheck6"
											>Technical
										</label>
									</div>
								</div>
							</div>
							<hr />
							<h6>Field</h6>
							<div
								class="filter-category__list row no-gutters align-items-center"
							>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="fieldCheck1"
										/>
										<label class="custom-control-label" for="fieldCheck1"
											>Governance Board</label
										>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 filter-category__list-item">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="fieldCheck2"
										/>
										<label class="custom-control-label" for="fieldCheck2"
											>Project Team</label
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-extra__item">
				<div class="input-group flex-nowrap header-extra__item-search">
					<div class="input-group-prepend">
						<span class="input-group-text" id="addon-wrapping"
							><img src="assets/images/icons/Search.svg" alt="Icon"
						/></span>
					</div>
					<input
						type="text"
						class="form-control"
						placeholder="Search"
						aria-label="Search"
						aria-describedby="addon-wrapping"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive table__card">
		<table class="table">
			<thead class="thead-custom thead-custom--color-gradient">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Belt</th>
					<th scope="col">Function</th>
					<th scope="col">Contact</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="column column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column column-belt">
							<div
								rel="yellow-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/yellow.png" alt="badges" />
								<p>Yellow Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="black-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/black.png" alt="badges" />
								<p>Black Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="green-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/green.png" alt="badges" />
								<p>Green Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column column-belt">
							<div
								rel="yellow-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/yellow.png" alt="badges" />
								<p>Yellow Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="black-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/black.png" alt="badges" />
								<p>Black Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="green-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/green.png" alt="badges" />
								<p>Green Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column column-belt">
							<div
								rel="yellow-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/yellow.png" alt="badges" />
								<p>Yellow Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="black-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/black.png" alt="badges" />
								<p>Black Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="green-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/green.png" alt="badges" />
								<p>Green Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column column-belt">
							<div
								rel="yellow-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/yellow.png" alt="badges" />
								<p>Yellow Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="black-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/black.png" alt="badges" />
								<p>Black Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="green-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/green.png" alt="badges" />
								<p>Green Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column column-belt">
							<div
								rel="yellow-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/yellow.png" alt="badges" />
								<p>Yellow Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="black-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/black.png" alt="badges" />
								<p>Black Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="column-name">
							Kristin Watson
						</div>
					</td>
					<td>
						<div class="column-belt">
							<div
								rel="green-belt"
								class="column-belt__popover"
								data-toggle="popover"
							>
								<img src="assets/images/badges/green.png" alt="badges" />
								<p>Green Belt</p>
							</div>
						</div>
					</td>
					<td>
						<div class="column-function">
							Otto
						</div>
					</td>
					<td>
						<div class="column-contact">
							<img src="assets/images/icons/Mail.svg" alt="mail" />
							<p>Contact</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Popover Content Info Belt -->
<div
	id="belt-popover__container-yellow"
	class="belt-rank__popover"
	style="display: none;"
>
	<div class="belt-rank__popover-content">
		<img src="assets/images/badges/yellow.png" alt="badges" />
		<h6>
			<span>Yellow Belt </span>
			<div>
				<div class="button button--small button--fill button--fill-primary">
					<p>Governance Board</p>
				</div>
			</div>
		</h6>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</div>
<!--  -->

<!-- Popover Content Info Belt -->
<div
	id="belt-popover__container-black"
	class="belt-rank__popover"
	style="display: none;"
>
	<div class="belt-rank__popover-content">
		<img src="assets/images/badges/black.png" alt="badges" />
		<h6>
			<span>Black Belt </span>
			<div>
				<div class="button button--small button--fill button--fill-primary">
					<p>Governance Board</p>
				</div>
			</div>
		</h6>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</div>
<!--  -->

<!-- Popover Content Info Belt -->
<div
	id="belt-popover__container-green"
	class="belt-rank__popover"
	style="display: none;"
>
	<div class="belt-rank__popover-content">
		<img src="assets/images/badges/green.png" alt="badges" />
		<h6>
			<span>Green Belt </span>
			<div>
				<div class="button button--small button--fill button--fill-primary">
					<p>Governance Board</p>
				</div>
			</div>
		</h6>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</div>
<!--  -->
