<header class="header">
	<div class="container-fluid">
		<div class="row align-items-center p32">
			<div class="col-4">
				<a href="/index.html" class="logo">
					<img src="assets/images/logo.png" alt="Campus Sampoerna" />
				</a>
			</div>
		</div>
	</div>
</header>
