<div class="preloader" id="loading">
	<div class="preloader__content">
		<img src="assets/images/logo.png" alt="Campus Sampoerna" />
		Waiting, please wait...
	</div>
</div>
<div class="backdrop backdrop--hide" id="backdrop">&nbsp;</div>

<header class="header">
	<div class="container-fluid">
		<div class="row align-items-center p32">
			<div class="col-3">
				<a href="/index.html" class="logo">
					<img src="assets/images/logo.png" alt="Campus Sampoerna" />
				</a>
			</div>
			<div class="col-9 mobile-hide">
				<nav class="menu">
					<a href="/index.html">
						<span class="icon-Home"></span>
						<p>Home</p>
					</a>
					<a href="/belt-rank.html">
						<span class="icon-Reward"></span>
						<p>Belt Rank</p>
					</a>
					<a href="#">
						<span class="icon-User"></span>
						<p>My Profile</p>
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>
