<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<title>Campus Sampoerna</title>
	<meta name="description" content="Description" />
	<meta name="keywords" content="social content network, social network" />
	<meta name="robots" content="index" />
	<meta name="author" content="Author" />
	<meta name="designer" content="Designer" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
	/>
	<!-- <meta
		name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false"
	/> -->

	<!-- Facebook -->
	<meta property="og:title" content="Campus Sampoerna" />
	<meta property="og:site_name" content="Site Name" />
	<meta property="og:description" content="Description" />
	<meta property="og:url" content="/_url" />
	<meta property="og:image" content="assets/images/img-to-share.jpg" />
	<meta property="og:type" content="website" />

	<!-- Google+ -->
	<meta itemprop="name" content="Name" />
	<meta itemprop="description" content="Description" />
	<meta itemprop="image" content="assets/images/img-to-share.jpg" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Campus Sampoerna" />
	<meta name="twitter:description" content="Description" />
	<meta name="twitter:site" content="@twitteraccount" />
	<meta name="twitter:creator" content="@twitteraccount" />
	<meta name="twitter:url" content="/_url" />
	<meta name="twitter:image" content="assets/images/img-to-share.jpg" />

	<!-- Favicons -->
	<link
		rel="apple-touch-icon"
		sizes="57x57"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="60x60"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="72x72"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="76x76"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="114x114"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="120x120"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="144x144"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="152x152"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="192x192"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="96x96"
		href="assets/images/favicons/favicon.ico"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="assets/images/favicons/favicon.ico"
	/>
	<link rel="manifest" href="assets/images/favicons/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta
		name="msapplication-TileImage"
		content="assets/images/favicons/favicon.ico"
	/>
	<meta name="theme-color" content="#1F2D3D" />

	<!-- Styles -->
	<link
		rel="stylesheet"
		type="text/css"
		media="screen"
		href="assets/css/style.css"
	/>
</head>
