<div class="card">
	<div class="card__content card__content-big">
		<div class="card-title">
			<h5>Module List</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi
				dignissim sit at egestas congue tellus nulla sed. Nunc, fringilla id
				tortor sit orci lectus volutpat. Habitant aliquam sapien arcu, risus ac.
				Sodales nam mus congue mattis. Vitae at porttitor dolor, sed pulvinar.
				Integer eget tincidunt blandit posuere eget ornare pellentesque.
			</p>
		</div>
		<div class="divider divider--margin-small"></div>
		<div class="module-list">
			<div
				class="module-item"
				data-toggle="modal"
				data-target="#modalModule1Detail"
			>
				<div class="row no-gutters align-items-center">
					<div class="col-md-4 col-lg-4 col-xl-3">
						<div class="module-item__image">
							<div
								class="inner"
								style="
									background-image: url(assets/images/content/ModuleVideo.png);
								"
							></div>
						</div>
					</div>
					<div class="col-md-8 col-lg-8 col-xl-9">
						<div class="module-item__desc">
							<h5>Problem Statement</h5>
							<p>
								In facilisis dui dolor venenatis, fermentum, libero. Sed viverra
								eu viverra in maecenas elementum. Eu ornare enim quisque a.
								Suspendisse convallis tristique amet sagittis, lobortis in.
							</p>

							<div class="row">
								<div class="col-lg-12 col-xl-7">
									<div class="row">
										<div class="col-5">
											<div class="module-item__info">
												<img src="assets/images/icons/Play.svg" alt="Icon" />
												<div>
													<p>Video :</p>
													<span>4</span>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="module-item__info">
												<img src="assets/images/icons/Clock.svg" alt="Icon" />
												<div>
													<p>Duration :</p>
													<span>15:30</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider divider--margin-small"></div>
							<div class="divider divider--margin-small"></div>
							<div class="indicator-status">
								<div class="indicator indicator--medium indicator--magenta">
									<span style="width: 50%;"><p>50%</p></span>
								</div>
								<div class="indicator-label">2 dari 4 materi telah selesai</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider divider--margin-small"></div>
			<div
				class="module-item"
				data-toggle="modal"
				data-target="#modalModule2Detail"
			>
				<div class="row no-gutters align-items-center">
					<div class="col-md-4 col-lg-4 col-xl-3">
						<div class="module-item__image">
							<div
								class="inner"
								style="
									background-image: url(assets/images/content/ModuleEbook.png);
								"
							></div>
						</div>
					</div>
					<div class="col-md-8 col-lg-8 col-xl-9">
						<div class="module-item__desc">
							<h5>Define Early Adopters</h5>
							<p>
								In facilisis dui dolor venenatis, fermentum, libero. Sed viverra
								eu viverra in maecenas elementum. Eu ornare enim quisque a.
								Suspendisse convallis tristique amet sagittis, lobortis in.
							</p>

							<div class="row">
								<div class="col-lg-12 col-xl-7">
									<div class="row">
										<div class="col-5">
											<div class="module-item__info">
												<img src="assets/images/icons/Book.svg" alt="Icon" />
												<div>
													<span>E-Book</span>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="module-item__info">
												<img
													src="assets/images/icons/FileText.svg"
													alt="Icon"
												/>
												<div>
													<span>10 Pages</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider divider--margin-small"></div>
							<div class="divider divider--margin-small"></div>
							<div class="indicator-status">
								<div class="indicator indicator--medium indicator--green">
									<span style="width: 100%;"><p>100%</p></span>
								</div>
								<div class="indicator-label">2 dari 2 materi telah selesai</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider divider--margin-small"></div>
			<div
				class="module-item"
				data-toggle="modal"
				data-target="#modalModule3Detail"
			>
				<div class="row no-gutters align-items-center">
					<div class="col-md-4 col-lg-4 col-xl-3">
						<div class="module-item__image">
							<div
								class="inner"
								style="
									background-image: url(assets/images/content/ModuleVideo.png);
								"
							></div>
						</div>
					</div>
					<div class="col-md-8 col-lg-8 col-xl-9">
						<div class="module-item__desc">
							<h5>Customer Interview</h5>
							<p>
								In facilisis dui dolor venenatis, fermentum, libero. Sed viverra
								eu viverra in maecenas elementum. Eu ornare enim quisque a.
								Suspendisse convallis tristique amet sagittis, lobortis in.
							</p>

							<div class="row">
								<div class="col-lg-12 col-xl-7">
									<div class="row">
										<div class="col-5">
											<div class="module-item__info">
												<img src="assets/images/icons/Play.svg" alt="Icon" />
												<div>
													<p>Video :</p>
													<span>4</span>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="module-item__info">
												<img src="assets/images/icons/Clock.svg" alt="Icon" />
												<div>
													<p>Duration :</p>
													<span>15:30</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider divider--margin-small"></div>
							<div class="divider divider--margin-small"></div>
							<div class="indicator-status">
								<div class="indicator indicator--medium indicator--magenta">
									<span style="width: 50%;"><p>50%</p></span>
								</div>
								<div class="indicator-label">2 dari 4 materi telah selesai</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider divider--margin-small"></div>
		</div>
	</div>
</div>

<!-- Modal Module Content -->
<div class="modal" id="modalModule1Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule1DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModuleDetai1lLabel">
					<h2>
						Problem Statement
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion" class="modal__content-list">
					<div id="card1" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapseOne"
							id="headingOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem  How to deal with small problems? How to deal with small problems?
							

								<!-- ADD CHECK -->
								<div class="card-header-title__check">
									<img
									src="assets/images/icons/Check.svg"
									alt="check"
									class="course__check"
								/>
								</div>
								<!-- !ADD CHECK -->
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseOne"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card2" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card3" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card4" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFour"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card5" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem

								<!-- ADD CHECK -->
								<div class="card-header-title__check">
									<img
									src="assets/images/icons/Check.svg"
									alt="check"
									class="course__check"
								/>
								</div>
								<!-- !ADD CHECK -->
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFive"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module Content -->

<!-- Modal Module 2 Content -->
<div class="modal" id="modalModule2Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule2DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModule2DetailLabel">
					<h2>
						Define Early Adopters
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion2" class="modal__content-list">
					<div id="card21" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse2One"
							id="heading2One"
							aria-expanded="true"
							aria-controls="collapse2One"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem

								<!-- ADD CHECK -->
								<div class="card-header-title__check">
									<img
									src="assets/images/icons/Check.svg"
									alt="check"
									class="course__check"
								/>
								</div>
								<!-- !ADD CHECK -->
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse2One"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion2"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card22" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse2Two"
							aria-expanded="false"
							aria-controls="collapse2Two"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?

								<!-- ADD CHECK -->
								<div class="card-header-title__check">
									<img
									src="assets/images/icons/Check.svg"
									alt="check"
									class="course__check"
								/>
								</div>
								<!-- !ADD CHECK -->
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse2Two"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion2"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card23" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse2Three"
							aria-expanded="false"
							aria-controls="collapse2Three"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?

								<!-- ADD CHECK -->
								<div class="card-header-title__check">
									<img
									src="assets/images/icons/Check.svg"
									alt="check"
									class="course__check"
								/>
								</div>
								<!-- !ADD CHECK -->
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse2Three"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion2"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card24" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse2Four"
							aria-expanded="false"
							aria-controls="collapse2Four"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse2Four"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion2"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card25" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse2Five"
							aria-expanded="false"
							aria-controls="collapse2Five"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse2Five"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion2"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module 2 Content -->

<!-- Modal Module 3 Content -->
<div class="modal" id="modalModule3Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule3DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModule3DetailLabel">
					<h2>
						Customer Interview
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion3" class="modal__content-list">
					<div id="card31" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse3One"
							id="heading3One"
							aria-expanded="true"
							aria-controls="collapse3One"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse3One"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion3"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card32" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse3Two"
							aria-expanded="false"
							aria-controls="collapse3Two"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse3Two"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion3"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card33" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse3Three"
							aria-expanded="false"
							aria-controls="collapse3Three"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse3Three"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion3"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card34" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse3Four"
							aria-expanded="false"
							aria-controls="collapse3Four"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse3Four"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion3"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card35" class="list__card">
						<div
							class="list__card-header collapsed"
							data-toggle="collapse"
							data-target="#collapse3Five"
							aria-expanded="false"
							aria-controls="collapse3Five"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapse3Five"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion3"
						>
							<div class="list__card-body">
								<p>
									In facilisis dui dolor venenatis, fermentum, libero. Sed
									viverra eu viverra in maecenas elementum. Eu ornare enim
									quisque a. Suspendisse convallis tristique amet sagittis,
									lobortis in.
								</p>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module Content -->
