<nav class="mobile-show navbar fixed-bottom navbar-light menu bg-light">
	<a href="/index.html">
		<span class="icon-Home"></span>
		<p>Home</p>
	</a>
	<a href="/belt-rank.html">
		<span class="icon-Reward"></span>
		<p>Belt Rank</p>
	</a>
	<a href="#">
		<span class="icon-User"></span>
		<p>My Profile</p>
	</a>
</nav>
