<div class="question">
	<div class="question__box">
		//=include questionradiobox.html
		<div class="divider divider--margin-big"></div>
		<div
			class="question__box-footer question__box-footer--justify-space-between"
		>
			<a
				class="question__box-footer-back question__box-footer-back--opacity-zero"
			>
				<div>
					<img src="assets/images/icons/Back.svg" alt="Icons" />
					<p>Previous Question</p>
				</div>
			</a>
			<a class="question__box-footer-doubt">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck" />
					<label class="form-check-label" for="gridCheck">
						<p>Doubtful</p>
					</label>
				</div>
			</a>
			<img
				class="question__box-footer-info"
				src="assets/images/icons/Alert.svg"
				alt="Projects"
				rel="info-doubtful"
				data-placement="top"
			/>
			<a href="exam-question-2.html" class="question__box-footer-next">
				<div>
					<p>Next Question</p>
					<img src="assets/images/icons/ArrowRight.svg" alt="Projects" />
				</div>
			</a>
		</div>
	</div>
</div>
