<div class="question__box-header">
	Nunc dignissim morbi nisi sodales turpis donec viverra. Magna nunc blandit et
	nam in morbi?
	<p>
		Drag the options from the left to the right side
	</p>
</div>

<div class="row">
	<div class="col-sm-6 col-lg-6">
		<div class="question-list questiondrag-container">
			<div class="question-list__item questiondrag-dropzone">
				<div class="question-list__backdrop">Aku mah apa atuh</div>
				<div class="question-list__drag questiondrag-draggable">
					Aku mah apa atuh
				</div>
			</div>
			<div class="question-list__item questiondrag-dropzone">
				<div class="question-list__backdrop">Aku mah apa atuh 2</div>
				<div class="question-list__drag questiondrag-draggable">
					Aku mah apa atuh 2
				</div>
			</div>
			<div class="question-list__item questiondrag-dropzone">
				<div class="question-list__backdrop">Aku mah apa atuh 3</div>
				<div class="question-list__drag questiondrag-draggable">
					Aku mah apa atuh 3
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-6">
		<div class="answer-list questiondrag-container">
			<div class="answer-list__item questiondrag-dropzone">
				<div class="answer-list__number">1</div>
				<div class="answer-list__drag">Drag Here</div>
			</div>
			<div class="answer-list__item questiondrag-dropzone">
				<div class="answer-list__number">2</div>
				<div class="answer-list__drag">Drag Here</div>
			</div>
			<div class="answer-list__item questiondrag-dropzone">
				<div class="answer-list__number">3</div>
				<div class="answer-list__drag">Drag Here</div>
			</div>
		</div>
	</div>
</div>
