<div class="question__box-header">
	Magnis viverra sagittis lectus consequat. Ipsum libero maecenas rhoncus, eros
	molestie?
	<p>
		Choose one answer
	</p>
</div>
<form>
	<div class="question__box-content">
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-radio">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio1"
						name="question1"
						value="Justo, sed posuere"
					/>
					<label class="custom-control-label" for="question1Radio1"
						>Justo, sed posuere</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-radio">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio2"
						name="question1"
						value="Quisque est nisi"
					/>
					<label class="custom-control-label" for="question1Radio2"
						>Quisque est nisi</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-radio">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio3"
						name="question1"
						value="Ullamcorper est suspendisse"
					/>
					<label class="custom-control-label" for="question1Radio3"
						>Ullamcorper est suspendisse</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-radio">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio4"
						name="question1"
						value="Egestas sagittis aliquet"
					/>
					<label class="custom-control-label" for="question1Radio4"
						>Egestas sagittis aliquet</label
					>
				</div>
			</div>
		</div>
	</div>
</form>
