<div class="question">
	<div class="question-number__box">
		<div class="question-number__box-header">
			Question Number
			<div class="question-number__box-header-tip">
				<div>
					<div class="dot dot--color-red"></div>
					<p>Done</p>
				</div>
				<div>
					<div class="dot dot--color-orange"></div>
					<p>Doubtfull</p>
				</div>
				<img
					class="question-number__box-header-tip-info"
					src="assets/images/icons/Alert.svg"
					alt="Projects"
					rel="info-doubtful"
					data-placement="bottom"
				/>
			</div>
		</div>
		<div class="question-number__box-list">
			<a
				class="question-number__box-list-item question-number__box-list-item--status-done"
				href="/exam-question-1.html"
			>
				<p>1</p>
			</a>
			<a
				class="question-number__box-list-item question-number__box-list-item--status-doubtful"
				href="/exam-question-2.html"
			>
				<p>2</p>
			</a>
			<a
				class="question-number__box-list-item question-number__box-list-item--active"
				href="/exam-question-3.html"
			>
				<p>3</p>
			</a>
			<a class="question-number__box-list-item" href="/exam-question-4.html">
				<p>4</p>
			</a>
			<a class="question-number__box-list-item" href="/exam-question-5.html">
				<p>5</p>
			</a>
			<a class="question-number__box-list-item">
				<p>6</p>
			</a>
			<a class="question-number__box-list-item">
				<p>7</p>
			</a>
			<a class="question-number__box-list-item">
				<p>8</p>
			</a>
			<a class="question-number__box-list-item">
				<p>9</p>
			</a>
			<a class="question-number__box-list-item">
				<p>10</p>
			</a>
			<a class="question-number__box-list-item">
				<p>11</p>
			</a>
			<a class="question-number__box-list-item">
				<p>12</p>
			</a>
			<a class="question-number__box-list-item">
				<p>13</p>
			</a>
			<a class="question-number__box-list-item">
				<p>14</p>
			</a>
			<a class="question-number__box-list-item">
				<p>15</p>
			</a>
			<a class="question-number__box-list-item">
				<p>16</p>
			</a>
			<a class="question-number__box-list-item">
				<p>17</p>
			</a>
			<a class="question-number__box-list-item">
				<p>18</p>
			</a>
			<a class="question-number__box-list-item">
				<p>19</p>
			</a>
			<a class="question-number__box-list-item">
				<p>20</p>
      </a>
      <a class="question-number__box-list-item">
				<p>21</p>
      </a>
      <a class="question-number__box-list-item">
				<p>22</p>
			</a>
		</div>
	</div>
</div>
