<div class="question__box-header">
	What elements do you think are most important when you are buying a car?
	<p>
		Select up to 3 options
	</p>
</div>
<form>
	<div class="question__box-content">
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check1"
					/>
					<label class="custom-control-label" for="question1Check1"
						>Brand</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check2"
					/>
					<label class="custom-control-label" for="question1Check2"
						>price</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check3"
					/>
					<label class="custom-control-label" for="question1Check3"
						>distributors</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check4"
					/>
					<label class="custom-control-label" for="question1Check4"
						>Product Quality</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check5"
					/>
					<label class="custom-control-label" for="question1Check5"
						>Design & Personality</label
					>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox">
					<input
						type="checkbox"
						class="custom-control-input"
						id="question1Check6"
					/>
					<label class="custom-control-label" for="question1Check6"
						>Safety & Reliability</label
					>
				</div>
			</div>
		</div>
	</div>
</form>
