<div class="question">
	<div class="question__box">
		//=include questionradiobox.html
		<!--  -->
		<!-- //=include questioncheckbox.html -->
		<!--  -->
		<!-- //=include questionboolean.html -->
		<!--  -->
		<!-- //=include questionmatching.html -->
		<!--  -->
		<!-- //=include questiondrag.html -->
		<div class="divider divider--margin-big"></div>
		<div
			class="question__box-footer question__box-footer--justify-space-between"
		>
			<!-- <a class="question__box-footer-back question__box-footer-back--opacity-zero">
				<div>
					<img src="assets/images/icons/Back.svg" alt="Icons" />
					<p>Previuos Question</p>
				</div>
			</a> -->
			<a class="question__box-footer-back">
				<div>
					<img src="assets/images/icons/Back.svg" alt="Icons" />
					<p>Previous Question</p>
				</div>
			</a>
			<a class="question__box-footer-doubt">
				<div>
					<img src="assets/images/icons/Square.svg" alt="Icons" />
					<p>Doubtful</p>
				</div>
			</a>
			<img
				class="question__box-footer-info"
				src="assets/images/icons/Alert.svg"
				alt="Projects"
				rel="info-doubtful"
				data-placement="top"
			/>
			<!-- <a class="question__box-footer-next">
				<div>
					<p>Next Question</p>
					<img src="assets/images/icons/ArrowRight.svg" alt="Projects" />
				</div>
      </a> -->
			<a
				class="question__box-footer-finish"
				data-toggle="modal"
				data-target="#modalFinishExam"
			>
				<div>
					<p>Finish Exam</p>
				</div>
			</a>
		</div>
	</div>
</div>
