<div class="question__box-header">
	Imperdiet aliquam purus lectus aliquam, justo, aliquet vitae pulvinar magna?
	<p>
		Matching Question
	</p>
</div>
<form>
	<div class="question__box-content">
		<div class="col-sm-12 col-lg-12">
			<div class="question__box-content-item question__box-content-item-2">
				<div class="question__box-content-item-quest">
					<p>Justo, sed posuere</p>
				</div>
				<div class="question__box-content-item-answer">
					<select class="custom-select answer-select" id="answer1">
						<option selected>Choose a match</option>
						<option value="1">Justo, sed posuere</option>
						<option value="2">Project Team</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-12">
			<div class="question__box-content-item question__box-content-item-2">
				<div class="question__box-content-item-quest">
					<p>Justo, sed posuere</p>
				</div>
				<div class="question__box-content-item-answer">
					<select class="custom-select answer-select" id="answer2">
						<option selected>Choose a match</option>
						<option value="1">Justo, sed posuere</option>
						<option value="2">Project Team</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-12">
			<div class="question__box-content-item question__box-content-item-2">
				<div class="question__box-content-item-quest">
					<p>Justo, sed posuere</p>
				</div>
				<div class="question__box-content-item-answer">
					<select class="custom-select answer-select" id="answer3">
						<option selected>Choose a match</option>
						<option value="1">Justo, sed posuere</option>
						<option value="2">Project Team</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>
