<div class="question__box-header">
	Imperdiet aliquam purus lectus aliquam, justo, aliquet vitae pulvinar magna?
	<p>
		True or False?
	</p>
</div>
<form>
	<div class="question__box-content question__box-content-2">
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox custom-boolean">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio1"
						name="question1"
						value="True"
					/>
					<label class="custom-control-label" for="question1Radio1">True</label>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="question__box-content-item">
				<div class="custom-control custom-checkbox custom-boolean">
					<input
						type="radio"
						class="custom-control-input"
						id="question1Radio2"
						name="question1"
						value="False"
					/>
					<label class="custom-control-label" for="question1Radio2"
						>False</label
					>
				</div>
			</div>
		</div>
	</div>
</form>
