<script src="assets/js/polyfill.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/libs.js"></script>
<script src="assets/js/app.js"></script>
<script>
	$(window).on('load', function () {
		$('.preloader').addClass('preloader--hide');
		$('body').addClass('body-show');
	});
</script>

<!-- DRAGGABLE LIBRARY - https://github.com/Shopify/draggable -->
<script>
	new Draggable.Droppable(
		document.querySelectorAll('.questiondrag-container'),
		{
			draggable: '.questiondrag-draggable',
			dropzone: '.questiondrag-dropzone',
		}
	)
		.on('droppable:dropped')
		.on('droppable:returned');
</script>
