<div
	class="sidebar card stickySidebar"
	data-margin-top="73"
	data-margin-bottom="100"
>
	<div class="card__content card__content-bg card__content-top">
		<div class="profile">
			<div class="profile__top">
				<a href="#" class="profile__image">
					<div
						class="inner"
						style="
							background-image: url(https://miro.medium.com/fit/c/72/72/1*SsVe0TBfrDBn-gEj29itVw.jpeg);
						"
					></div>
				</a>
				<div class="profile__tools">
					<a href="javascript:;" class="profile__point">
						<p>1.323 pts</p>
						<span class="icon-Point"
							><span class="path1"></span><span class="path2"></span
						></span>
					</a>
					<!-- <a href="javascript:;" class="profile__notification triggerBackdrop" data-tippy data-template="notification">
            <img src="assets/images/icons/Notification.svg" alt="Notification">
          </a> -->
					<a
						tabindex="0"
						id="popover-notification"
						class="profile__notification triggerBackdrop"
						role="button"
						data-toggle="popover"
					>
						<img
							src="assets/images/icons/Notification.svg"
							alt="Notification"
						/>
					</a>
				</div>
			</div>
			<a href="#" class="profile__bottom">
				<h3>Jasmine Shopia Rahman</h3>
				<p>Marketing</p>
			</a>
		</div>
		<div class="divider divider--margin-small-extra"></div>
		<div class="profile-list">
			<a
				href="#"
				class="button button--small button--border button--border-primary"
			>
				<p>Governance Board</p>
			</a>
			<a
				href="#"
				class="button button--small button--border button--border-secondary"
			>
				<p>Project Team</p>
			</a>
		</div>
	</div>
	<div class="card__content card__content-bottom">
		<div class="profile-belt">
			<div class="profile-belt__image">
				<img src="assets/images/badges/green.png" alt="badges" />
			</div>
			<div class="profile-belt__indicator">
				<h4>Green Belt</h4>
				<div class="indicator">
					<span style="width: 10%;"></span>
				</div>
				<h5>10% <span>COMPLETED</span></h5>
			</div>
		</div>

		<div class="divider divider--margin-small-extra"></div>
		<div class="profile-tabs">
			<div class="tabs">
				<!-- <ul>
          <li>Module</li>
          <li>Projects</li>
          <li>Exam</li>
        </ul> -->

				<nav>
					<div class="nav tabs-nav" id="nav-tab" role="tablist">
						<a
							class="nav-item nav-link active"
							id="module-tab"
							data-toggle="tab"
							href="#module"
							role="tab"
							aria-controls="module"
							aria-selected="true"
							>Module</a
						>
						<a
							class="nav-item nav-link"
							id="projects-tab"
							data-toggle="tab"
							href="#projects"
							role="tab"
							aria-controls="projects"
							aria-selected="false"
							>Project</a
						>
						<a
							class="nav-item nav-link"
							id="exams-tab"
							data-toggle="tab"
							href="#exams"
							role="tab"
							aria-controls="exams"
							aria-selected="false"
							>Exam</a
						>
					</div>
				</nav>

				<div class="tab-content" id="myTabContent">
					<div
						class="tab-pane fade courses show active"
						id="module"
						role="tabpanel"
						aria-labelledby="module-tab"
					>
						<div class="courses-list">
							<a
								href="#"
								class="course"
								data-toggle="modal"
								data-target="#modalModule1Detail"
							>
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Problem Statement</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a
								href="#"
								class="course course--done"
								data-toggle="modal"
								data-target="#modalModule2Detail"
							>
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Define Early Adpoters</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a
								href="#"
								class="course"
								data-toggle="modal"
								data-target="#modalModule3Detail"
							>
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Customer Interview</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<!-- <a href="#" class="course">
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Risk Identification</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Experiment</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course course--done">
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>MVP/Pilot</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Consumer Centricity</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Driving Team Effectiveness</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a> -->
						</div>
					</div>

					<div
						class="tab-pane fade projects"
						id="projects"
						role="tabpanel"
						aria-labelledby="projects-tab"
					>
						<div class="projects-message">
							<p>Need to add 1 more project to complete</p>
						</div>
						<div class="projects-list">
							<a href="#" class="project">
								<img
									src="assets/images/icons/ProjectCrossDept.svg"
									alt="Projects"
									class="project__image"
								/>
								<div>
									<p>Marlboro - Discovery 3</p>
									<h6>PROJECT LEAD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>SEP - NOV 2019</h6>
								</div>
								<img
									src="assets/images/icons/More.svg"
									alt="Projects"
									class="project__more"
								/>
							</a>
							<a href="#" class="project">
								<img
									src="assets/images/icons/ProjectInternal.svg"
									alt="Projects"
									class="project__image"
								/>
								<div>
									<p>Marlboro - Discovery 5</p>
									<h6>PROJECT LEAD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>SEP - NOV 2019</h6>
								</div>
								<img
									src="assets/images/icons/More.svg"
									alt="Projects"
									class="project__more"
								/>
							</a>
						</div>
						<div
							class="projects__footer"
							data-toggle="modal"
							data-target="#modalAddProject"
						>
							<div>
								<p>Add New Project</p>
								<img
									src="assets/images/icons/ArrowRight.svg"
									alt="Projects"
									class="project__footer-icon"
								/>
							</div>
						</div>
					</div>

					<div
						class="tab-pane fade exams"
						id="exams"
						role="tabpanel"
						aria-labelledby="exams-tab"
					>
						<div class="exams-message">
							<p>Need to complete an exam to level up</p>
						</div>
						<div class="exams-list">
							<a href="#" class="exam">
								<img
									src="assets/images/icons/ProjectExam.svg"
									alt="Projects"
									class="exam__image"
								/>
								<div>
									<p>UTS - Module 1</p>
									<h6>GOVERNANCE BOARD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>
										<span
											>You have completed this course on April 20, 2020</span
										>
									</h6>
								</div>
								<div class="exam__score">
									85
								</div>
							</a>
							<a
								href="#"
								class="exam"
								data-toggle="modal"
								data-target="#modalAfterExam"
							>
								<img
									src="assets/images/icons/ProjectExam.svg"
									alt="Projects"
									class="exam__image"
								/>
								<div>
									<p>UAS</p>
									<h6>GOVERNANCE BOARD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>23 DES - 27 DES 2020</h6>
								</div>
								<div class="exam__more">
									<img src="assets/images/icons/More.svg" alt="Exam" />
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Popover template content -->
<div id="notification-popover-container" style="display: none;">
	<div id="notification">
		<div class="card notification-center">
			<div class="card__content card__content-bg card__content-top">
				<div class="notification-center__title">
					<h5>Notification Center</h5>
					<a href="javascript:;">See More</a>
				</div>
			</div>
			<div class="card__content card__content-bottom">
				<div class="notification-center__item">
					<img src="assets/images/icons/Exam.svg" alt="Icons" />
					<div class="notification-center__text">
						Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
						do amet sint. Velit officia consequat duis enim velit mollit.
						<i>Exercitation veniam</i> consequat sunt nostrud amet.
					</div>
					<div class="notification-center__button">
						<a href="#" class="button button--item">
							<p>TAKE</p>
						</a>
					</div>
				</div>
				<div class="notification-center__item">
					<img src="assets/images/icons/Exam.svg" alt="Icons" />
					<div class="notification-center__text">
						Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
						do amet sint. Velit officia consequat duis enim velit mollit.
						<i>Exercitation veniam</i> consequat sunt nostrud amet.
					</div>
					<div class="notification-center__button">
						<a href="#" class="button button--item">
							<p>TAKE</p>
						</a>
					</div>
				</div>
				<div class="notification-center__item">
					<img src="assets/images/icons/Exam.svg" alt="Icons" />
					<div class="notification-center__text">
						Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
						do amet sint. Velit officia consequat duis enim velit mollit.
						<i>Exercitation veniam</i> consequat sunt nostrud amet.
					</div>
					<div class="notification-center__button">
						<a href="#" class="button button--item">
							<p>TAKE</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Module 1 Content -->
<div class="modal" id="modalModule1Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-course"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule1DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModule1DetailLabel">
					<h2>
						Problem Statement
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion" class="modal__content-list">
					<div id="card1" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseOne"
							id="headingOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseOne"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card2" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card3" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card4" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFour"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card5" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFive"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module 1 Content -->

<!-- Modal Module 2 Content -->
<div class="modal" id="modalModule2Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule2DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModule2DetailLabel">
					<h2>
						Define Early Adopters
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion" class="modal__content-list">
					<div id="card1" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseOne"
							id="headingOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseOne"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card2" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card3" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card4" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFour"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card5" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFive"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module 2 Content -->

<!-- Modal Module 3 Content -->
<div class="modal" id="modalModule3Detail" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalModule3DetailLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalModule3DetailLabel">
					<h2>
						Customer Interview
					</h2>
				</div>
			</header>
			<div class="modal__content">
				<p>
					In facilisis dui dolor venenatis, fermentum, libero. Sed viverra eu
					viverra in maecenas elementum. Eu ornare enim quisque a. Suspendisse
					convallis tristique amet sagittis, lobortis in.
				</p>

				<div id="accordion" class="modal__content-list">
					<div id="card1" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseOne"
							id="headingOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								1. Basic Problem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseOne"
							class="collapse"
							aria-labelledby="headingOne"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="card2" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								2. Why is there a problem?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>5:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card3" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								3. How to deal with small problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>2:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card4" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								4. How to deal with big problems?
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>1:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFour"
							class="collapse"
							aria-labelledby="headingFour"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div id="card5" class="list__card">
						<div
							class="list__card-header"
							data-toggle="collapse"
							data-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							<div class="card-header--toggle">
								<img src="assets/images/icons/ArrowUp.svg" alt="Icon" />
							</div>
							<div class="card-header-title">
								5. Lorem lorem
							</div>
							<div class="card-header-info">
								<img src="assets/images/icons/Clock.svg" alt="Icon" />
								<div>
									<p>Duration:</p>
									<span>3:30</span>
								</div>
							</div>
						</div>
						<div
							id="collapseFive"
							class="collapse"
							aria-labelledby="headingFive"
							data-parent="#accordion"
						>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
							<div class="list__card-body">
								<div class="card-body-play">
									<img src="assets/images/icons/PlayCircle.svg" alt="Icon" />
								</div>
								<div class="card-body-title">
									Anim pariatur cliche reprehenderit, enim eiusmod high
								</div>
								<a class="card-body-link">
									<p>Let's Go</p>
									<div class="card-body-link-arrow">
										<img
											src="assets/images/icons/ArrowRightRed.svg"
											alt="Icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-flex-end">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Module 3 Content -->

<!-- Modal Add Project Content -->
<div class="modal" id="modalAddProject" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-project"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAddProjectLabel"
		>
			<header class="modal__header">
				<div class="modal__title" id="modalAddProjectLabel">
					<h1>
						New Project
					</h1>
				</div>
			</header>
			<div class="modal__content">
				<div>
					<form>
						<div class="form-group form-project">
							<label for="projectName">Project Name</label>
							<div class="input-group">
								<input
									type="text"
									class="form-control"
									id="projectName"
									placeholder="Your Project Name"
								/>
							</div>
						</div>
						<div class="form-group form-project">
							<label for="projectMember">Project Member</label>
							<div class="input-group">
								<input
									type="text"
									class="form-control"
									id="projectMember"
									value="0"
									placeholder="0"
								/>
								<div class="input-group-append">
									<button
										class="btn btn-outline-secondary btn__operator btn__operator-left"
                    type="button"
                    value="-"
									>
										-
									</button>
									<button
										class="btn btn-outline-secondary btn__operator"
                    type="button"
                    value="+"
									>
										+
									</button>
								</div>
							</div>
						</div>
						<div class="form-group form-project">
							<label for="projectDescription">Project Description</label>
							<div class="input-group">
								<textarea
									class="form-control"
									id="projectDescription"
									rows="3"
									placeholder="Your Project Description"
								></textarea>
							</div>
						</div>
						<div class="form-group form-project">
							<label class="control-label" for="projectAttachment"
								>Project Documents Attachment</label
							>
							<div id="uploadDropzone"></div>
						</div>
					</form>
					<!-- <div class="form-group form-project">
						<label class="control-label" for="projectAttachment"
							>Project Documents Attachment</label
						>
						<form
							action="/file-upload"
							class="dropzone"
							id="my-awesome-dropzone"
						>
							<div class="fallback">
								<input name="file" type="file" multiple />
							</div>
						</form>
						<div class="input-group">
              <input type="file" class="form-control-file" id="projectAttachment" multiple data-show-upload="true">
            </div>
					</div> -->
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-space-between">
				<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
					>Cancel</a
				>
				<a
					class="modal__footer-upload"
					data-toggle="modal"
					data-target="#modalAddProjectSuccess"
					data-dismiss="modal"
				>
					<div>
						<p>Upload Project</p>
						<img
							src="assets/images/icons/ArrowRight.svg"
							alt="Projects"
							class="project__footer-icon"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Add Project Content -->

<!-- Modal Add Project Success Content -->
<div class="modal" id="modalAddProjectSuccess" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-project-2"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAddProjectSuccessLabel"
		>
			<div class="modal__content modal__content-2">
				<img src="assets/images/icons/Success.svg" alt="Projects" />
				<div>
					<h2>Thanks!</h2>
					<p>Your project has been added</p>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-center">
				<a class="modal__footer-back" data-dismiss="modal">
					<div>
						<p>Back to Project</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Project Content -->

<!-- Modal Exam Levelup Content -->
<div class="modal" id="modalAfterExam" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-exam"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAfterExam"
		>
			<div class="modal__content modal__content-3">
				<h6>
					LEVEL UP
				</h6>
				<h5>
					GREEN BELT!
				</h5>
				<p>
					Ridiculus sed tristique consequat nulla. Sagittis quis ut quis ipsum
					leo libero sit egestas?
				</p>
				<img src="assets/images/badges/green.png" alt="badges" />
				<div class="levelup-reward">
					<div class="levelup-reward-point">
						<div>
							+200
							<img src="assets/images/icons/RewardsPoint.svg" alt="point" />
						</div>
						<h6>REWARD POINTS</h6>
					</div>
					<div class="levelup-reward-course">
						<div>
							+4
							<img src="assets/images/icons/RewardsCourse.svg" alt="point" />
						</div>
						<h6>
							NEW COURSES
						</h6>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-center">
				<a class="modal__footer-back" data-dismiss="modal">
					<div>
						<p>Back to Home</p>
						<img
							src="assets/images/icons/ArrowRight.svg"
							alt="Projects"
							class="exam__footer-icon"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Exam Levelup Content -->

<!-- Modal Exam Before Content -->
<div class="modal" id="modalBeforeExam" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-exam"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalBeforeExam"
		>
			<div class="modal__content modal__content-3">
				<h6>
					LEVEL UP
				</h6>
				<h5>
					GREEN BELT!
				</h5>
				<p>
					Ridiculus sed tristique consequat nulla. Sagittis quis ut quis ipsum
					leo libero sit egestas?
				</p>
				<img src="assets/images/badges/green.png" alt="badges" />
				<div class="levelup-reward">
					<div class="levelup-reward-point">
						<div>
							+200
							<img src="assets/images/icons/RewardsPoint.svg" alt="point" />
						</div>
						<h6>REWARD POINTS</h6>
					</div>
					<div class="levelup-reward-course">
						<div>
							+4
							<img src="assets/images/icons/RewardsCourse.svg" alt="point" />
						</div>
						<h6>
							NEW COURSES
						</h6>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-center">
				<a class="modal__footer-back" data-dismiss="modal">
					<div>
						<p>Back to Home</p>
						<img
							src="assets/images/icons/ArrowRight.svg"
							alt="Projects"
							class="exam__footer-icon"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Exam Before Content -->
