<div
	class="sidebar card stickySidebar"
	data-margin-top="90"
	data-margin-bottom="100"
>
	<div class="card__content card__content-bg card__content-top">
		<div class="profile">
			<div class="profile__top">
				<a href="#" class="profile__image">
					<div
						class="inner"
						style="
							background-image: url(https://miro.medium.com/fit/c/72/72/1*SsVe0TBfrDBn-gEj29itVw.jpeg);
						"
					></div>
				</a>
				<div class="profile__tools">
					<a href="javascript:;" class="profile__point" rel="pointpvr" data-toggle="popover">
						<p>1.323 pts</p>
						<span class="icon-Point"
							><span class="path1"></span><span class="path2"></span
						></span>
					</a>
					<a
						tabindex="0"
						id="popover-notification"
						class="profile__notification triggerBackdrop"
						role="button"
						data-toggle="popover"
					>
						<img
							src="assets/images/icons/Notification.svg"
							alt="Notification"
						/>
					</a>
				</div>
			</div>
			<a href="#" class="profile__bottom">
				<h3>Jasmine Shopia Rahman</h3>
				<p>Marketing</p>
			</a>
		</div>
		<div class="divider divider--margin-small-extra"></div>
		<div class="profile-list">
			<a
				href="#"
				class="button button--small button--border button--border-primary"
			>
				<p>Governance Board</p>
			</a>
			<a
				href="#"
				class="button button--small button--border button--border-secondary"
			>
				<p>Project Team</p>
			</a>
		</div>
	</div>
	<div class="card__content card__content-bottom profile-tab-content">
		<div class="profile-belt profile-belt--mod">
			<div class="profile-belt__image">
				<img src="assets/images/badges/yellow.png" alt="badges" />
			</div>
			<div class="profile-belt__indicator">
				<h4>Yellow Belt</h4>
				<div class="indicator">
					<span style="width: 67%;"></span>
				</div>
				<h5>67% <span>COMPLETED</span></h5>
			</div>
		</div>
		<div class="profile-belt">
			<div class="profile-belt__image">
				<img src="assets/images/icons/ProjectTeam.svg" alt="Project Team" />
			</div>
			<div class="profile-belt__indicator">
				<h4>Project Team</h4>
				<div class="indicator indicator--orange">
					<span style="width: 33%;"></span>
				</div>
				<h5>1 <span>OF 3 PROJECT</span></h5>
			</div>
		</div>

		<div class="divider divider--margin-small-extra"></div>
		<div class="profile-tabs">
			<div class="tabs">
				<nav>
					<div class="nav tabs-nav" id="nav-tab" role="tablist">
						<a
							class="nav-item nav-link active"
							id="module-tab"
							data-toggle="tab"
							href="#module"
							role="tab"
							aria-controls="module"
							aria-selected="true"
							>Module</a
						>
						<a
							class="nav-item nav-link"
							id="projects-tab"
							data-toggle="tab"
							href="#projects"
							role="tab"
							aria-controls="projects"
							aria-selected="false"
							>Project</a
						>
						<a
							class="nav-item nav-link"
							id="exams-tab"
							data-toggle="tab"
							href="#exams"
							role="tab"
							aria-controls="exams"
							aria-selected="false"
							>Exam</a
						>
					</div>
				</nav>

				<div class="tab-content" id="myTabContent">
					<div
						class="tab-pane fade courses show active"
						id="module"
						role="tabpanel"
						aria-labelledby="module-tab"
					>
						<div class="courses-list">
							<a
								href="#"
								class="course"
								data-toggle="modal"
								data-target="#modalModule1Detail"
							>
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Problem Statement</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a
								href="#"
								class="course course--done"
								data-toggle="modal"
								data-target="#modalModule2Detail"
							>
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Define Early Adpoters</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a
								href="#"
								class="course"
								data-toggle="modal"
								data-target="#modalModule3Detail"
							>
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Customer Interview</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Risk Identification</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Experiment</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course course--done">
								<img
									src="assets/images/icons/Text.svg"
									alt="Course"
									class="course__image"
								/>
								<p>MVP/Pilot</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Consumer Centricity</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
							<a href="#" class="course">
								<img
									src="assets/images/icons/Video.svg"
									alt="Course"
									class="course__image"
								/>
								<p>Driving Team Effectiveness</p>
								<img
									src="assets/images/icons/Check.svg"
									alt="Course"
									class="course__check"
								/>
							</a>
						</div>
					</div>

					<div
						class="tab-pane fade projects"
						id="projects"
						role="tabpanel"
						aria-labelledby="projects-tab"
					>
						<div class="projects-message">
							<p>Need to add 1 more project to complete</p>
						</div>
						<div class="projects-list">
							<a href="#" class="project" 
							data-toggle="modal"
							data-target="#modalDetailProject">
								<img
									src="assets/images/icons/ProjectCrossDept.svg"
									alt="Projects"
									class="project__image"
								/>
								<div>
									<p>Marlboro - Discovery 3</p>
									<h6>PROJECT LEAD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>SEP - NOV 2019</h6>
								</div>
								<img
									src="assets/images/icons/More.svg"
									alt="Projects"
									class="project__more"
								/>
							</a>
							<a href="#" class="project"
							data-toggle="modal"
							data-target="#modalDetailProject">
								<img
									src="assets/images/icons/ProjectInternal.svg"
									alt="Projects"
									class="project__image"
								/>
								<div>
									<p>Marlboro - Discovery 5</p>
									<h6>PROJECT LEAD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>SEP - NOV 2019</h6>
								</div>
								<img
									src="assets/images/icons/More.svg"
									alt="Projects"
									class="project__more"
								/>
							</a>
						</div>
						<div
							class="projects__footer"
							data-toggle="modal"
							data-target="#modalAddProject"
						>
							<div>
								<p>Add New Project</p>
								<img
									src="assets/images/icons/ArrowRight.svg"
									alt="Projects"
									class="project__footer-icon"
								/>
							</div>
						</div>
					</div>

					<div
						class="tab-pane fade exams"
						id="exams"
						role="tabpanel"
						aria-labelledby="exams-tab"
					>
						<div class="exams-message">
							<p>Need to complete an exam to level up</p>
						</div>
						<div class="exams-list">
							<a href="#" class="exam">
								<img
									src="assets/images/icons/ProjectExam.svg"
									alt="Projects"
									class="exam__image"
								/>
								<div>
									<p>UTS - Module 1</p>
									<h6>GOVERNANCE BOARD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>
										<span
											>You have completed this course on April 20, 2020</span
										>
									</h6>
								</div>
								<div class="exam__score">
									85
								</div>
							</a>
							<a href="#" class="exam exam--failed">
								<img
									src="assets/images/icons/ProjectExam.svg"
									alt="Projects"
									class="exam__image"
								/>
								<div>
									<p>UTS - Module 2</p>
									<h6>GOVERNANCE BOARD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>
										<span>You don’t completed this course. Please retake your exam</span>
									</h6>
								</div>
								<div class="exam__score">60</div>
							</a>
							<a
								href="#"
								class="exam"
								data-toggle="modal"
								data-target="#modalBeforeExam"
							>
								<img
									src="assets/images/icons/ProjectExam.svg"
									alt="Projects"
									class="exam__image"
								/>
								<div>
									<p>UAS</p>
									<h6>GOVERNANCE BOARD</h6>
									<div class="divider divider--margin-small-extra"></div>
									<h6>23 DES - 27 DES 2020</h6>
								</div>
								<div class="exam__more">
									<img src="assets/images/icons/More.svg" alt="Exam" />
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Popover template content -->
<div id="notification-popover-container" style="display: none;">
	<div id="notification">
		<div class="card notification-center">
			<div class="card__content card__content-bg card__content-top">
				<div class="notification-center__title">
					<h5>Notification Center</h5>
					<a href="javascript:;">See More</a>
				</div>
			</div>
			<div class="card__content card__content-bottom">
				<div class="notification-center__wrapper">
					<div class="notification-center__item">
						<div class="notification-center__image">
							<img src="assets/images/icons/Exam.svg" alt="Icons" />
						</div>
						<div class="notification-center__text">
							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.

							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.

							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.
						</div>
						<div class="notification-center__button">
							<a href="#" class="button button--item">
								<p>TAKE</p>
							</a>
						</div>
					</div>
					<div class="notification-center__item">
						<div class="notification-center__image">
							<img src="assets/images/icons/Exam.svg" alt="Icons" />
						</div>
						<div class="notification-center__text">
							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.
						</div>
						<div class="notification-center__button">
							<a href="#" class="button button--item">
								<p>TAKE</p>
							</a>
						</div>
					</div>
					<div class="notification-center__item">
						<div class="notification-center__image">
							<img src="assets/images/icons/Exam.svg" alt="Icons" />
						</div>
						<div class="notification-center__text">
							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.
						</div>
						<div class="notification-center__button">
							<a href="#" class="button button--item">
								<p>TAKE</p>
							</a>
						</div>
					</div>
					<div class="notification-center__item">
						<div class="notification-center__image">
							<img src="assets/images/icons/Exam.svg" alt="Icons" />
						</div>
						<div class="notification-center__text">
							Amet <b>minim mollit</b> non deserunt ullamco est sit aliqua dolor
							do amet sint. Velit officia consequat duis enim velit mollit.
							<i>Exercitation veniam</i> consequat sunt nostrud amet.
						</div>
						<div class="notification-center__button">
							<a href="#" class="button button--item">
								<p>TAKE</p>
							</a>
						</div>
					</div>
					<div class="notification-center__item">
						<div class="notification-center__image">
							<img src="assets/images/icons/Exam.svg" alt="Icons" />
						</div>
						<div class="notification-center__text">
							Amet <b>minim mollit</b> non deserunt
						</div>
						<div class="notification-center__button">
							<a href="#" class="button button--item">
								<p>TAKE</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Popover POINT -->
<div
	id="point-popover"
	class="belt-rank__popover"
	style="display: none;"
>
	<div class="belt-rank__popover-content belt-rank__popover-content-2">
		<h6>Point</h6>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</div>
<!-- END Popover POINT -->

<!-- Modal Detail Project Content -->
<div class="modal" id="modalDetailProject" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-project-3"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalDetailProjectLabel"
		>
			<div class="row">
				<div class="col-sm-12">
					<header class="modal__header">
						<div class="modal__title" id="modalDetailProjectLabel">
							<h1>
								Project
							</h1>
						</div>
					</header>
					<div class="modal__content">
						<div>
							<form>
								<div class="form-group form-project">
									<label for="projectName">Project Name</label>
									<div class="input-group">
										<input
											type="text"
											class="form-control"
											id="projectName"
											placeholder="Your Project Name"
											value="Marlboro - Discovery 3"
										/>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="title">Title</label>
									<select class="custom-select" id="title">
										<option selected>Choose...</option>
										<option value="1" selected>Governance Board</option>
										<option value="2">Project Team</option>
									</select>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group form-project">
											<label for="monthStartProject">Start Project</label>
											<select class="custom-select" id="monthStartProject">
												<option selected>Month</option>
												<option value="1" selected>January</option>
												<option value="2">February</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group form-project">
											<label for="yearStartProject">&nbsp;</label>
											<select class="custom-select" id="yearStartProject">
												<option selected>Year</option>
												<option value="1" selected>2020</option>
												<option value="2">2019</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group form-project">
											<label for="monthStartProject">End Project</label>
											<select class="custom-select" id="monthEndProject">
												<option selected>Month</option>
												<option value="1" selected>January</option>
												<option value="2">February</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group form-project">
											<label for="yearEndProject">&nbsp;</label>
											<select class="custom-select" id="yearEndProject">
												<option selected>Year</option>
												<option value="1" selected>2020</option>
												<option value="2">2019</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="projectMember">Project Member</label>
									<div class="input-group">
										<input
											type="text"
											class="form-control"
											id="projectMember"
											value="1"
											placeholder="0"
										/>
										<div class="input-group-append">
											<button
												class="btn btn-outline-secondary btn__operator btn__operator-left"
												type="button"
												value="-"
											>
												-
											</button>
											<button
												class="btn btn-outline-secondary btn__operator"
												type="button"
												value="+"
											>
												+
											</button>
										</div>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="projectDescription">Project Description</label>
									<div class="input-group">
										<textarea
											class="form-control"
											id="projectDescription"
											rows="3"
											placeholder="Your Project Description"
										>Lorem ipsum dolor sit amet, consectetur adipiscing elit</textarea>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="governanceBoard">Governance Board</label>
									<select class="custom-select" id="governanceBoard">
										<option>Choose...</option>
										<option value="1" selected>Kamal</option>
										<option value="2">Abdul Latief</option>
									</select>
								</div>
								<div
									class="alert alert-danger alert-dismissible fade show"
									role="alert"
								>
									<div class="alert-text">
										<img src="assets/images/icons/X.svg" alt="X" />
										<p><strong>Sorry!</strong> all must be filled</p>
									</div>
									<button
										type="button"
										class="close"
										data-dismiss="alert"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="modal__footer modal__footer--justify-space-between">
						<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
							>Back</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Detail Project Content -->

<!-- Modal Add Project Content -->
<div class="modal" id="modalAddProject" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-project"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAddProjectLabel"
		>
			<div class="row">
				<div class="col-sm-6">
					<header class="modal__header modal__header-2">
						<div class="modal__title">
							<h4>
								Terms and Conditions Upload Project
							</h4>
						</div>
					</header>
					<div class="modal__content modal__content-cts">
						<div class="text">
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vulputate mi dignissim sit at egestas congue tellus nulla
									sed</li>
								<li>Nunc, fringilla id tortor sit orci lectus volutpat.
									Habitant aliquam sapien arcu, risus ac. Sodales nam mus
									congue mattis.</li>
							</ol>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Vulputate mi dignissim sit at egestas congue tellus nulla
								sed. Nunc, fringilla id tortor sit orci lectus volutpat.
								Habitant aliquam sapien arcu, risus ac. Sodales nam mus
								congue mattis. Vitae at porttitor dolor, sed pulvinar.
								Integer eget tincidunt blandit posuere eget ornare
								pellentesque.
							</p>
							<p>&nbsp;</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Vulputate mi dignissim sit at egestas congue tellus nulla
								sed. Nunc, fringilla id tortor sit orci lectus volutpat.
								Habitant aliquam sapien arcu, risus ac. Sodales nam mus
								congue mattis. Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Vulputate mi dignissim sit at egestas
								congue tellus nulla sed. Nunc, fringilla id tortor sit
								orci lectus volutpat. Habitant aliquam sapien arcu, risus
								ac.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<header class="modal__header">
						<div class="modal__title" id="modalAddProjectLabel">
							<h1>
								New Project
							</h1>
						</div>
					</header>
					<div class="modal__content">
						<div>
							<form>
								<div class="form-group form-project">
									<label for="projectName">Project Name</label>
									<div class="input-group">
										<input
											type="text"
											class="form-control"
											id="projectName"
											placeholder="Your Project Name"
										/>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="title">Title</label>
									<select class="custom-select" id="title">
										<option selected>Choose...</option>
										<option value="1">Governance Board</option>
										<option value="2">Project Team</option>
									</select>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group form-project">
											<label for="monthStartProject">Start Project</label>
											<select class="custom-select" id="monthStartProject">
												<option selected>Month</option>
												<option value="1">January</option>
												<option value="2">February</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group form-project">
											<label for="yearStartProject">&nbsp;</label>
											<select class="custom-select" id="yearStartProject">
												<option selected>Year</option>
												<option value="1">2020</option>
												<option value="2">2019</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group form-project">
											<label for="monthStartProject">End Project</label>
											<select class="custom-select" id="monthEndProject">
												<option selected>Month</option>
												<option value="1">January</option>
												<option value="2">February</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group form-project">
											<label for="yearEndProject">&nbsp;</label>
											<select class="custom-select" id="yearEndProject">
												<option selected>Year</option>
												<option value="1">2020</option>
												<option value="2">2019</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="projectMember">Project Member</label>
									<div class="input-group">
										<input
											type="text"
											class="form-control"
											id="projectMember"
											value="0"
											placeholder="0"
										/>
										<div class="input-group-append">
											<button
												class="btn btn-outline-secondary btn__operator btn__operator-left"
												type="button"
												value="-"
											>
												-
											</button>
											<button
												class="btn btn-outline-secondary btn__operator"
												type="button"
												value="+"
											>
												+
											</button>
										</div>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="projectDescription">Project Description</label>
									<div class="input-group">
										<textarea
											class="form-control"
											id="projectDescription"
											rows="3"
											placeholder="Your Project Description"
										></textarea>
									</div>
								</div>
								<div class="form-group form-project">
									<label for="governanceBoard">Governance Board</label>
									<select class="custom-select" id="governanceBoard">
										<option selected>Choose...</option>
										<option value="1">Kamal</option>
										<option value="2">Abdul Latief</option>
									</select>
								</div>
								<div
									class="alert alert-danger alert-dismissible fade show"
									role="alert"
								>
									<div class="alert-text">
										<img src="assets/images/icons/X.svg" alt="X" />
										<p><strong>Sorry!</strong> all must be filled</p>
									</div>
									<button
										type="button"
										class="close"
										data-dismiss="alert"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="modal__footer modal__footer--justify-space-between">
						<a href="javascript:;" class="modal__footer-cancel" data-dismiss="modal"
							>Cancel</a
						>
						<a
							class="modal__footer-upload"
							data-toggle="modal"
							data-target="#modalAddProjectSuccess"
							data-dismiss="modal"
						>
							<div>
								<p>Submit</p>
								<img
									src="assets/images/icons/ArrowRight.svg"
									alt="Projects"
									class="project__footer-icon"
								/>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Add Project Content -->

<!-- Modal Add Project Success Content -->
<div class="modal" id="modalAddProjectSuccess" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-project-2"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAddProjectSuccessLabel"
		>
			<div class="modal__content modal__content-2">
				<img src="assets/images/icons/Success.svg" alt="Projects" />
				<div>
					<h2>Thanks!</h2>
					<p>Your project has been added</p>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-center">
				<a class="modal__footer-back" data-dismiss="modal">
					<div>
						<p>Back to Project</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Project Content -->

<!-- Modal Exam Levelup Content -->
<div class="modal" id="modalAfterExam" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-exam"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalAfterExam"
		>
			<div class="modal__content modal__content-3">
				<h6>
					LEVEL UP
				</h6>
				<h5>
					GREEN BELT!
				</h5>
				<p>
					Ridiculus sed tristique consequat nulla. Sagittis quis ut quis ipsum
					leo libero sit egestas?
				</p>
				<img src="assets/images/badges/green.png" alt="badges" />
				<div class="levelup-reward">
					<div class="levelup-reward-point">
						<div>
							+200
							<img src="assets/images/icons/RewardsPoint.svg" alt="point" />
						</div>
						<h6>REWARD POINTS</h6>
					</div>
					<div class="levelup-reward-course">
						<div>
							+4
							<img src="assets/images/icons/RewardsCourse.svg" alt="point" />
						</div>
						<h6>
							NEW COURSES
						</h6>
					</div>
				</div>
			</div>
			<div class="modal__footer modal__footer--justify-center">
				<a class="modal__footer-back" data-dismiss="modal">
					<div>
						<p>Back to Home</p>
						<img
							src="assets/images/icons/ArrowRight.svg"
							alt="Projects"
							class="exam__footer-icon"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Exam Levelup Content -->

<!-- Modal before Exam -->
<div class="modal" id="modalBeforeExam" aria-hidden="true">
	<div class="modal modal__overlay" tabindex="-1">
		<div
			class="modal__container modal__container-exam modal__container-exam-2"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modalBeforeExam"
		>
			<div class="modal__content modal__content-5">
				<h5>
					Take Final Exam
				</h5>
				<p>
					Ridiculus sed tristique consequat nulla. Sagittis quis ut quis ipsum
					leo libero sit egestas?
				</p>
			</div>
			<div class="modal__footer modal__footer-2">
				<a
					class="modal__footer-cancel modal__footer-cancel-2"
					data-dismiss="modal"
				>
					<p>Cancel</p>
				</a>
				<a class="modal__footer-ok" href="/exam-question-1.html">
					<div>
						<p>Yes, I’m Sure</p>
						<img
							src="assets/images/icons/ArrowRight.svg"
							alt="Projects"
							class="exam__footer-icon"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- modal before exam -->
