<div class="card">
	<div class="card__content card__content-big">
		<div class="whatwhybelt-tabs accordion">
			<div class="accordion-icon" id="accordionIcon">
				<div>
					<span></span>
					<span></span>
				</div>
			</div>
			<div id="tabsWWB">
				<!-- <ul>
          <li>
            <img src="assets/images/icons/Help.svg" alt="">
            <p>What We Do</p>
          </li>
          <li>
            <img src="assets/images/icons/Clipboard.svg" alt="">
            <p>Why We Do</p>
          </li>
          <li>
            <img src="assets/images/icons/Reward.svg" alt="">
            <p>Belt Rank</p>
          </li>
        </ul> -->

				<nav>
					<div class="nav tabs-nav" id="nav-tab" role="tablist">
						<a
							class="nav-item nav-link active"
							id="home-tab"
							data-toggle="tab"
							href="#nav-why1"
							role="tab"
							aria-controls="home"
							aria-selected="true"
							><img src="assets/images/icons/Help.svg" alt="" />
							<p>What We Do</p>
						</a>
						<a
							class="nav-item nav-link"
							id="profile-tab"
							data-toggle="tab"
							href="#nav-why2"
							role="tab"
							aria-controls="profile"
							aria-selected="false"
							><img src="assets/images/icons/Clipboard.svg" alt="" />
							<p>Why We Do</p>
						</a>
						<a
							class="nav-item nav-link"
							id="contact-tab"
							data-toggle="tab"
							href="#nav-why3"
							role="tab"
							aria-controls="contact"
							aria-selected="false"
							><img src="assets/images/icons/Reward.svg" alt="" />
							<p>Belt Rank</p>
						</a>
					</div>
				</nav>

				<div class="tab-content" id="nav-tabContent">
					<div
						class="tab-pane fade show active"
						id="nav-why1"
						role="tabpanel"
						aria-labelledby="nav-home-tab"
					>
						<div class="accordion-content">
							<div class="divider divider--margin-small-extra"></div>
							<div class="row">
								<div class="col-12">
									<div class="text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Vulputate mi dignissim sit at egestas congue tellus nulla
											sed. Nunc, fringilla id tortor sit orci lectus volutpat.
											Habitant aliquam sapien arcu, risus ac. Sodales nam mus
											congue mattis. Vitae at porttitor dolor, sed pulvinar.
											Integer eget tincidunt blandit posuere eget ornare
											pellentesque.
										</p>
										<p>&nbsp;</p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Vulputate mi dignissim sit at egestas congue tellus nulla
											sed. Nunc, fringilla id tortor sit orci lectus volutpat.
											Habitant aliquam sapien arcu, risus ac. Sodales nam mus
											congue mattis. Lorem ipsum dolor sit amet, consectetur
											adipiscing elit. Lorem ipsum dolor sit amet, consectetur
											adipiscing elit. Vulputate mi dignissim sit at egestas
											congue tellus nulla sed. Nunc, fringilla id tortor sit
											orci lectus volutpat. Habitant aliquam sapien arcu, risus
											ac.
										</p>
									</div>
								</div>
							</div>
							<div class="divider divider--margin-small"></div>
							<div class="divider divider--margin-small-extra"></div>
							<div class="row">
								<div class="col-md-12 col-lg-6">
									<a href="" class="card-item">
										<img src="assets/images/icons/Briefcase.svg" alt="Icon" />
										<h5>Governance Board</h5>
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
											et. Sunt qui esse pariatur duis deserunt mollit dolore
											cillum minim tempor enim. Elit aute irure tempor cupidatat
											incididunt sint deserunt ut voluptate aute id deserunt
											nisi.
										</p>
									</a>
								</div>
								<div class="col-md-12 col-lg-6">
									<a href="" class="card-item">
										<img src="assets/images/icons/Users.svg" alt="Icon" />
										<h5>Project Team</h5>
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
											et. Sunt qui esse pariatur duis deserunt mollit dolore
											cillum minim tempor enim. Elit aute irure tempor cupidatat
											incididunt sint deserunt ut voluptate aute id deserunt
											nisi.
										</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div
						class="tab-pane fade"
						id="nav-why2"
						role="tabpanel"
						aria-labelledby="nav-profile-tab"
					>
						<div class="accordion-content">
							<div class="divider divider--margin-small"></div>
							<div class="row align-items-center justify-content-center">
								<div
									class="order-xl-1 order-lg-1 order-2 col-md-12 col-lg-6 col-xl-6"
								>
									<div class="text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Vulputate mi dignissim sit at egestas congue tellus nulla
											sed.
										</p>
										<p>&nbsp;</p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Vulputate mi dignissim sit at egestas congue tellus nulla
											sed. Nunc, fringilla id tortor sit orci lectus volutpat.
											Habitant aliquam sapien arcu, risus ac. Sodales nam mus
											congue mattis. Lorem ipsum dolor sit amet, consectetur
											adipiscing elit. Lorem ipsum dolor sit amet, consectetur
											adipiscing elit. Vulputate mi dignissim sit at egestas
											congue tellus nulla sed. Nunc, fringilla id tortor sit
											orci lectus volutpat. Habitant aliquam sapien arcu, risus
											ac.
										</p>
									</div>
									<div class="divider divider--margin-small"></div>
								</div>
								<div
									class="order-xl-2 order-lg-2 order-1 col-md-12 col-lg-6 col-xl-6"
								>
									<img src="assets/images/BannerWhy.png" alt="Banner" />
								</div>
							</div>
						</div>
					</div>
					<div
						class="tab-pane fade"
						id="nav-why3"
						role="tabpanel"
						aria-labelledby="nav-contact-tab"
					>
						<div class="accordion-content">
							<div class="divider divider--margin-small"></div>

							<!-- ADD SPACE AREA FOR TEXT -->
							<div class="text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Vulputate mi dignissim sit at egestas congue tellus nulla
									sed. Nunc, fringilla id tortor sit orci lectus volutpat.
									Habitant aliquam sapien arcu, risus ac. Sodales nam mus
									congue mattis. Vitae at porttitor dolor, sed pulvinar.
									Integer eget tincidunt blandit posuere eget ornare
									pellentesque.
								</p>
							</div>
							<div class="divider"></div>
							<!-- !ADD SPACE AREA FOR TEXT -->

							<div class="row">
								<div class="col-lg-12 col-xl-4">
									<a href="" class="card-item text-center">
										<img src="assets/images/badges/yellow.png" alt="Badges" />
										<h5>Yellow Belt</h5>
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
											et. Sunt qui esse pariatur duis deserunt mollit dolore
											cillum minim tempor enim.
										</p>
									</a>
									<div class="divider divider--margin-small"></div>
								</div>
								<div class="col-lg-12 col-xl-4">
									<a href="" class="card-item text-center">
										<img src="assets/images/badges/green.png" alt="Badges" />
										<h5>Green Belt</h5>
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
											et. Sunt qui esse pariatur duis deserunt mollit dolore
											cillum minim tempor enim.
										</p>
									</a>
									<div class="divider divider--margin-small"></div>
								</div>
								<div class="col-lg-12 col-xl-4">
									<a href="" class="card-item text-center">
										<img src="assets/images/badges/black.png" alt="Badges" />
										<h5>Black Belt</h5>
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
											et. Sunt qui esse pariatur duis deserunt mollit dolore
											cillum minim tempor enim.
										</p>
									</a>
									<div class="divider divider--margin-small"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <div>
          <div class="accordion-content">
            <div class="divider divider--margin-small-extra"></div>
            <div class="row">
              <div class="col-12">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed. Nunc, fringilla id tortor sit orci lectus volutpat. Habitant aliquam sapien
                    arcu, risus ac. Sodales nam mus congue mattis. Vitae at porttitor dolor, sed pulvinar. Integer eget
                    tincidunt blandit posuere eget ornare pellentesque.</p>
                  <p>&nbsp;</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed. Nunc, fringilla id tortor sit orci lectus volutpat. Habitant aliquam sapien
                    arcu, risus ac. Sodales nam mus congue mattis. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed. Nunc, fringilla id tortor sit orci lectus volutpat. Habitant aliquam sapien
                    arcu, risus ac.</p>
                </div>
              </div>
            </div>
            <div class="divider divider--margin-small"></div>
            <div class="divider divider--margin-small-extra"></div>
            <div class="row">
              <div class="col-6">
                <a href="" class="card-item">
                  <img src="assets/images/icons/Briefcase.svg" alt="Icon">
                  <h5>Governance Board</h5>
                  <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt
                    mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut
                    voluptate aute id deserunt nisi.</p>
                </a>
              </div>
              <div class="col-6">
                <a href="" class="card-item">
                  <img src="assets/images/icons/Users.svg" alt="Icon">
                  <h5>Project Team</h5>
                  <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt
                    mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut
                    voluptate aute id deserunt nisi.</p>
                </a>
              </div>
            </div>
          </div>
        </div> -->

				<!-- <div>
          <div class="accordion-content">
            <div class="divider divider--margin-small"></div>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-12 col-xl-6">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed.</p>
                  <p>&nbsp;</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed. Nunc, fringilla id tortor sit orci lectus volutpat. Habitant aliquam sapien
                    arcu, risus ac. Sodales nam mus congue mattis. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate mi dignissim sit at egestas
                    congue tellus nulla sed. Nunc, fringilla id tortor sit orci lectus volutpat. Habitant aliquam sapien
                    arcu, risus ac.</p>
                </div>
                <div class="divider divider--margin-small"></div>
              </div>
              <div class="col-lg-6 col-xl-6">
                <img src="assets/images/BannerWhy.png" alt="Banner">
              </div>
            </div>
          </div>
        </div> -->

				<!-- <div>
          <div class="accordion-content">
            <div class="divider divider--margin-small"></div>
            <div class="row">
              <div class="col-lg-12 col-xl-4">
                <a href="" class="card-item text-center">
                  <img src="assets/images/badges/yellow.png" alt="Badges">
                  <h5>Yellow Belt</h5>
                  <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt
                    mollit dolore cillum minim tempor enim.</p>
                </a>
                <div class="divider divider--margin-small"></div>
              </div>
              <div class="col-lg-12 col-xl-4">
                <a href="" class="card-item text-center">
                  <img src="assets/images/badges/green.png" alt="Badges">
                  <h5>Green Belt</h5>
                  <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt
                    mollit dolore cillum minim tempor enim.</p>
                </a>
                <div class="divider divider--margin-small"></div>
              </div>
              <div class="col-lg-12 col-xl-4">
                <a href="" class="card-item text-center">
                  <img src="assets/images/badges/black.png" alt="Badges">
                  <h5>Black Belt</h5>
                  <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt
                    mollit dolore cillum minim tempor enim.</p>
                </a>
                <div class="divider divider--margin-small"></div>
              </div>
            </div>
          </div>
        </div> -->
			</div>
		</div>
	</div>
</div>
