@include bp-1024() {
  main {
    padding-left: 0px;
    padding-right: 0px;
  }

  .p32 {
    padding: 0;
  }


  .tabs {
    &-nav {
      a {
        font-family: $font-semiBold;
      }
    }
  }

  .whatwhybelt {
    &-tabs {
      .tabs {
        &-nav {
          a {
            font-family: $font-medium;
            padding: 0.6rem 0.6rem !important;

            p {
              font-size: $text-size-small;
              margin-left: 0.35rem;
              color: $color--magenta;
            }

            span {
              font-size: 24px;

              &::before {
                color: $color--magenta;
              }
            }
          }
        }
      }
    }
  }

  .button {
    padding: 0.6rem;
  }

  .accordion {
    &-icon {
      top: 2px;
      right: -20px;

      div {
        width: 22px;
        height: 22px;

        span {
          &:first-child {
            width: 12px;
          }

          &:last-child {
            height: 12px;
            right: 6px;
          }
        }
      }
    }
  }

  .text {
    margin-top: 16px;
    font-size: $text-size-small;
  }

  .card {
    &__content {
      padding: 1rem;
      background-color: $color--white;

      &-big {
        padding: 18px;
      }
    }

    &-item {
      margin: 8px 0;
      padding: 16px;

      h5 {
        font-family: $font-medium;
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }
    }

    &-title {
      h5 {
        font-size: $text-size-big-large;
        font-weight: $font-medium;
      }

      p {
        font-size: $text-size-small;
      }
    }
  }

  .module {
    &-item {
      &__desc {
        padding-left: 1.3rem;

        h5 {
          font-family: $font-medium;
          font-size: 18px;
        }

        p {
          color: $color--gray-6;
          line-height: 1.4;
          margin-bottom: 0.8rem;
        }
      }

      &__info {
        display: flex;
        align-items: center;

        img {
          margin-right: 0.5rem;
        }

        div {
          display: flex;
          align-items: center;
          font-family: $font-medium;

          p {
            margin: auto;
            margin-right: 0.5rem;
            color: $color--gray-6;
          }

          span {
            color: $color--black;
          }
        }
      }
    }
  }

  .menu {
    display: flex !important;
    justify-content: space-around;
    background-color: $color--white !important;

    a {
      display: flex;
      align-items: center;
      color: $color--gray-6;
      padding: 0.6rem 1rem;
      // background-color: $color--gray;
      position: relative;
      overflow: hidden;
      @include vendor(border-radius, 1.8rem);
      margin: 0 0.2rem;

      &:hover,
      &.active {
        color: $color--magenta;

        span {
          &::before {
            color: $color--magenta;
          }
        }

        &::before {
          width: 100%;
        }
      }

      &::before {
        background-color: $color--gray;
        top: 0;
        left: 0;
        z-index: -1;
        @include vendor(border-radius, 1.8rem);
        @include vendor(transition, all 250ms ease);
      }

      p {
        margin-left: 0.3rem;
        font-weight: 500;
      }

      span {
        font-size: 24px;

        &::before {
          color: $color--gray-6;
        }
      }
    }
  }

  //-- Notification
  .notification {
    &-center {
      width: 440px;

      &__title {
        display: flex;
        justify-content: space-between;

        h5 {
          font-size: 14px;
          font-weight: 500;
        }

        a {
          color: $color--magenta;
          font-weight: 500;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        padding: 0.56rem 0;
        border-bottom: 2px dashed $color--gray-3;

        &:hover {
          background-color: rgba($color: $color--orange, $alpha: 0.05);
        }

        img {
          width: 40px;
        }
      }

      &__text {
        width: calc(100% - 95px);
        padding: 0 1rem;
        line-height: 1.3;

        i {
          font-style: italic;
        }
      }

      &__button {
        width: 55px;
        display: flex;
        align-items: center;

        .button {
          width: 100%;
        }
      }
    }

    &-popover {
      margin-top: 40px;
      margin-left: 15px;

      .popover.notification-popover {
        border: none;
        background: none;
      }

      .arrow {
        display: none;
      }
    }
  }

  .modal__container {
    &-course {
      min-width: 568px;
      width: 568px;
    }
  }

  .belt-rank {
    padding-bottom: 32px;

    &__header {
      margin-top: 8px;
      margin-bottom: 20px;

      &-title {
        p {
          min-width: 100px;
        }
      }

      &-extra {
        display: flex;
        align-items: center;

        .header-extra {
          &__item {
            &:first-child {
              margin-right: 10px;
            }

            .dropdown {
              &-filter {
                &__content {
                  .filter-category {
                    &__list {
                      margin: 8px 0;
                    }
                  }
                }
              }
            }

            button {
              padding: 8px;
              max-width: 140px;

              img {
                margin-left: 16px;
                @include vendor(transition,
                  all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
                @include vendor(transform, scaleY(1));
              }
            }

            &-search {
              max-width: 140px;
            }
          }
        }
      }
    }
  }

  table {

    tbody,
    thead {
      display: block;
      max-height: 550px;
      overflow-y: auto;
      overflow-x: hidden;

      tr {
        display: table;
        table-layout: fixed;
        width: 100%;
      }

      th {
        font-family: $font-medium;
        font-size: $text-size-normal;
        line-height: 24px;
        color: $color--white;
        padding-top: 18px !important;
        padding-bottom: 18px !important;
        width: 25%;
        border: none !important;

        &:first-child {
          padding-left: 14px !important;
          width: 20%;
        }

        &:last-child {
          padding-right: 14px !important;
          width: 31%;
        }
      }

      td {
        font-family: $font-regular;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--gray-6;
        vertical-align: middle !important;
        width: 25%;
        padding-top: 12px !important;
        padding-bottom: 12px !important;

        &:first-child {
          padding-left: 14px !important;
          width: 20%;
        }

        &:last-child {
          padding-right: 14px !important;
          width: 31%;
        }

        .column {
          &-name {
            display: flex;
            align-items: center;
          }

          &-belt {
            display: flex;
            align-items: center;

            img {
              width: 35px;
            }

            P {
              margin-left: 8px;
            }
          }

          &-contact {
            display: flex;
            align-items: center;
            background-color: $color--magenta;
            border-radius: 20px;
            padding: 8px 16px;
            max-width: 120px;
            cursor: pointer;
            @include vendor(transition,
              all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

            img {
              width: 20px;
              margin-right: 8px;
            }

            p {
              color: $color--white;
            }

            &:hover {
              background-color: rgba($color--magenta, 0.7);
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
            }
          }
        }
      }
    }
  }

  .question {
    margin: 32px 0;

    &:first-child {
      margin-top: 0px;
    }

    &__box {
      background: $color--white;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 16px 64px;
    }

    &-number {
      &__box {
        background: $color--white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 32px 30px;

        &-header {
          font-family: $font-medium;
          font-size: $text-size-medium;
          line-height: 22px;
          color: $color--black;

          &-tip {
            display: flex;
            align-items: center;
            margin-top: 16px;

            div {
              display: flex;
              align-items: center;

              p {
                margin-left: 12px;
                font-family: $font-regular;
                font-weight: normal;
                font-size: $text-size-small;
                line-height: 22px;
                color: #000000;
                width: 60px;
              }

              .dot {
                border-radius: 100px;
                width: 20px;
                height: 20px;

                &--color {
                  background-color: $color--black;

                  &-red {
                    background-color: $color--magenta !important;
                  }

                  &-orange {
                    background-color: $color--orange !important;
                  }
                }
              }
            }

            &-info {
              margin-left: 16px;
            }
          }
        }

        &-list {
          margin: 32px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          &-item {
            margin: 8px 0px;
            box-sizing: border-box;
            border-radius: 20px;
            width: 8%;
            text-align: center;
            cursor: pointer;
            padding: 18px 2px;
            max-width: 20%;
            margin-right: 0.8vw;
            margin-left: 0.8vw;

            p {
              font-family: $font-medium;
              font-size: $text-size-medium-large;
              line-height: 22px;
              color: $color--black;
            }
          }
        }
      }
    }
  }
}