@-webkit-keyframes movingHeadlineDoodle {
  0% {
    transform: translate(3%, -3%);
  }
  33% {
    transform: translate(-3%, 3%);
  }
  66% {
    transform: translate(3%, 3%);
  }
  100% {
    transform: translate(3%, -3%);
  }
}
@keyframes movingHeadlineDoodle {
  0% {
    transform: translate(3%, -3%);
  }
  33% {
    transform: translate(-3%, 3%);
  }
  66% {
    transform: translate(3%, 3%);
  }
  100% {
    transform: translate(3%, -3%);
  }
}