.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color--gray-6;
  padding: .6rem 0;
  position: relative;
  overflow: hidden;
  font-family: $font-medium;
  @include vendor(border-radius, 1.8rem);

  &--small {
    font-size: 12px;
  }

  &--item {
    padding: .3rem;
    color: $color--magenta;
    @include vendor(border-radius, .5rem);
    border: 2px solid $color--gray-5;
    text-align: center;
    font-size: 12px;
    font-weight: 500;

    &::before {
      @include vendor(border-radius, .3rem !important);
    }

    &:hover {
      color: $color--white !important;

      &::before {
        background-color: $color--magenta !important;
      }
    }

    p {
      width: 100%;
    }
  }

  &--border {
    border: 1px solid $color--magenta;

    &-primary {
      color: $color--magenta;

      &:hover {
        color: $color--white !important;
      }

      &::before {
        background-color: $color--magenta !important;
      }
    }

    &-secondary {
      color: $color--orange;
      border: 1px solid $color--orange;

      &:hover {
        color: $color--white !important;
      }

      &::before {
        background-color: $color--orange !important;
      }
    }
  }

  &--fill {
    border: 1px solid transparent;

    &-primary {
      background-color: $color--magenta;
      color: $color--white;
      p{
        color: $color--white;
      }

      &:hover {
        color: $color--white !important;
      }

      &::before {
        background-color: $color--magenta !important;
      }
    }

    &-secondary {
      background-color: $color--orange;
      color: $color--white;
      border: 1px solid transparent;
      p{
        color: $color--white;
      }

      &:hover {
        color: $color--white !important;
      }

      &::before {
        background-color: $color--orange !important;
      }
    }
  }

  &:hover,
  &.active {
    color: $color--magenta;

    span {
      &::before {
        color: $color--magenta;
      }
    }

    &::before {
      width: 100%;
    }
  }

  p {
    z-index: 1;
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: $color--white;
    top: 0;
    left: 0;
    @include vendor(border-radius, 1.8rem);
    @include vendor(transition, all 250ms ease);
  }
}