body {}

* {
  outline: none;
}

a {
  &:hover {
    color: $color--magenta;
  }
}

main {
  // background-color: $body--background__color;
  background: #6778AC;
  background: linear-gradient(216.03deg, #6778AC 31.15%, #ECE0D8 72.25%);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 100vh;
}

.p32 {
  padding: 0 24px;
}

.banner {
  display: block;

  img {
    display: block;
    min-height: 100px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: $body--text__color-light;
  @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
  text-align: center;

  img{
    width: 180px;
    display: block;
    margin-bottom: 8px;
  }
  //display: none;
  // img {
  //   display: block;
  //   width: 210px;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  // }

  &--hide {
    opacity: 0;
    visibility: hidden;
    @include vendor(transition-delay, 430ms);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $body--text__color, $alpha: 0.6);
  @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

  //display: none;
  &--body{
    overflow: hidden;
  }
  &--hide {
    opacity: 0;
    visibility: hidden;
  }
}

.accordion {
  position: relative;

  &-icon {
    position: absolute;
    top: -10px;
    right: 0;
    padding: 0.5rem;
    z-index: 2;
    cursor: pointer;

    &:hover {
      div {
        background-color: $color--magenta;

        span {
          background-color: $color--white;
        }
      }
    }

    &--close {
      div {
        span {
          &:last-child {
            opacity: 1 !important;
          }
        }
      }
    }

    div {
      position: relative;
      background-color: $color--gray-4;
      @include vendor(border-radius, 100%);
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

      span {
        display: block;
        position: relative;
        background-color: $color--gray-5;
        @include vendor(transition,
          all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

        &:first-child {
          width: 16px;
          height: 2px;

          left: 1px;
        }

        &:last-child {
          height: 16px;
          width: 2px;
          opacity: 0;

          right: 8px;
        }
      }
    }
  }

  &-content {
    display: block;

    &--close {
      display: none;
    }
  }
}

//-- PROFILE
.profile {
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    margin-top: 0.65rem;
    color: $body--text__color;
    display: block;

    h3 {
      font-family: $font-medium;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      overflow: hidden;
      max-height: 20px;
      margin: 0.4rem 0 0.1rem;
    }

    p {
      font-family: $font-medium;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.3;
      color: $color--gray-5;
      font-weight: 500;
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    position: relative;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }

    >.inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include vendor(border-radius, 50%);
      background-size: cover;
      background-position: center center;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    font-family: $font-medium;
  }

  &__point {
    display: flex;
    align-items: center;
    color: $body--text__color;
    padding: 0.4rem;

    p {
      font-weight: 500;
      margin-right: 0.35rem;
    }

    span {
      font-size: 24px;
    }
  }

  &__notification {
    padding: 0.4rem 0.5rem;
  }

  &-list {
    display: flex;
    // flex-wrap: wrap;
    padding: .2rem 0;

    .button {
      margin: 0.2rem 0;
      width: 50%;

      &:first-child {
        margin-right: 0.2rem;
      }
    }
  }

  &-belt {
    display: flex;
    align-items: center;
    padding-bottom: 0.4rem;
    border-bottom: 2px dashed $color--gray-3;

    &--mod {
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }

    &__image {
      width: 74px;
    }

    &__indicator {
      width: calc(100% - 74px);
      padding-left: 0.8rem;

      h4 {
        font-family: $font-medium;
        font-size: 14px;
        font-weight: 500;
      }

      h5 {
        font-family: $font-medium;
        font-size: 12px;
        font-weight: 500;

        span {
          opacity: 0.5;
        }
      }

      .indicator {
        margin: 0.3rem 0 0.26rem;
      }
    }
  }

  &-tab-content {
    padding: .75rem .8rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(48vh - 5px);

    @include bp-1024() {
      // overflow: unset;
      max-height: 55vh;
    }
  }
}

//-- CARD
.card {
  position: relative;
  background-color: $color--white;
  @include vendor(border-radius, 0.9rem);
  border: 0 !important;

  &__content {
    padding: 1rem;
    background-color: $color--white;

    &-big {
      padding: 1.5rem;
    }

    @include vendor(border-radius, 0.9rem);

    &-bg {
      background-color: $color--gray;
    }

    &-top {
      @include vendor(border-top-left-radius, 0.9rem);
      @include vendor(border-top-right-radius, 0.9rem);
      @include vendor(border-bottom-left-radius, 0);
      @include vendor(border-bottom-right-radius, 0);
    }

    &-bottom {
      @include vendor(border-top-left-radius, 0);
      @include vendor(border-top-right-radius, 0);
      @include vendor(border-bottom-left-radius, 0.9rem);
      @include vendor(border-bottom-right-radius, 0.9rem);
    }
  }

  &-item {
    padding: 1.4rem;
    border: 2px solid $color--gray-2;
    @include vendor(border-radius, 0.5rem);
    display: block;
    color: $body--text__color;

    h5 {
      font-family: $font-medium;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0.4rem;
    }

    p {
      color: $color--gray-6;
    }
  }

  &-title {
    h5 {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 40px;
    }

    p {
      margin: 8px 0;
      line-height: 1.4;
      color: $color--gray-6;
      font-size: $text-size-normal;
    }
  }
}

.indicator {
  position: relative;
  height: 8px;
  background: $color--gray-2;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
  @include vendor(border-radius, 20px);

  &-status{
    width: 40%;
  }
  &-label{
    font-size: $text-size-small-extra;
    opacity: .6;
    margin-top: .4rem;
  }

  &--medium{
    height: 16px;
  }
  &--orange {
    span {
      background-image: none !important;
      background-color: $color--yellow;
    }
  }
  &--magenta {
    span {
      background-image: none !important;
      background-color: $color--magenta;
    }
  }
  &--green {
    span {
      background-image: none !important;
      background-color: $color--green;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url(../images/icons/Indicator.svg);
    @include vendor(border-radius, 20px);
    text-align: center;
    p{
      font-size: 10px;
      color: $color--white;
      margin: 0 !important;
      line-height: 1 !important;
      font-weight: 600;
    }
  }
}

.tabs {
  &-nav {
    border-bottom: 2px solid $color--gray-3 !important;
    justify-content: space-between;
    @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

    a {
      font-family: $font-semiBold;
      cursor: pointer;
      background-color: $color--white !important;
      font-size: 12px;
      opacity: 0.3;
      font-weight: 500;
      text-transform: uppercase;
      border: 0 !important;
      padding: .6rem .1rem !important;
      // margin: 0 auto !important;
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
      margin-bottom: -2px !important;
      border-bottom: 2px solid transparent !important;
      width: 33.333%;
      text-align: center;

      &.active {
        opacity: 1;
        border-bottom: 2px solid $color--magenta !important;
      }
    }

    // li {
    //   background-color: $color--white !important;
    //   font-size: 12px;
    //   opacity: 0.3;
    //   font-weight: 500;
    //   text-transform: uppercase;
    //   border: 0 !important;
    //   padding: .6rem 1rem !important;
    //   margin: auto !important;
    //   @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
    //   margin-bottom: -2px !important;
    //   border-bottom: 2px solid transparent !important;

    //     &.active {
    //       opacity: 1;
    //       border-bottom: 2px solid $color--magenta !important;
    //     }
    // }
  }

  &-panel {
    padding: 0.3rem 0 !important;
  }
}

.courses,
.projects,
.exams {
  display: flex;

  &-message {
    padding: 8px 12px;
    margin: 16px 0px;
    background: $color--yellow-flash;
    @include vendor(border-radius, 8px);

    p {
      font-family: $font-semiBold;
      font-size: $text-size-small-extra;
      line-height: 20px;
      text-align: center;

      color: $color--yellow-dark;
    }
  }

  &-list {
    // overflow-y: auto;
    // max-height: 37vh;
    margin: 4px -0.6rem;

    .course,
    .project,
    .exam {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.6rem;
      color: $body--text__color;
      margin-bottom: 4px;

      &--done {

        .course,
        .project,
        .exam {
          &__image {
            opacity: 0.35;
          }

          &__check {
            opacity: 1;
          }
        }

        p {
          opacity: 0.35;
        }
      }
      &--failed{
        .exam{
          &__score{
            background-color: $color--red;
          }
        }
        h6{
          span{
            color: $color--red !important;
          }
        }
      }

      &:hover {
        background-color: rgba($color: $color--orange, $alpha: 0.05);
      }

      &__image {
        display: block;
        margin-bottom: auto;
      }

      p {
        margin-left: 0.6rem;
        font-family: $font-regular;
        font-weight: normal;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--black;
      }

      h6 {
        margin-left: 0.6rem;
        font-weight: normal;
        font-family: $font-medium;
        font-size: $text-size-small-extra;
        line-height: 20px;
        color: $color--gray-5;

        span {
          color: $color--magenta-dark;
        }
      }

      &__more,
      &__check,
      &__score {
        position: absolute;
        right: 0.6rem;
        opacity: 0.3;
      }

      &__more {
        opacity: 1;
      }

      &__score {
        align-self: baseline;
        opacity: 1;
        @include vendor(border-radius, 8px);
        background: $color--green;
        padding: 4px 12px;
        opacity: 1;
        font-family: $font-semiBold;
        font-weight: 600;
        font-size: $text-size-normal;
        line-height: 24px;
        color: $color--white;
        top: .6rem;
      }
    }
  }

  &__footer {
    margin: 0 -.8rem -.75rem -.8rem;
    color: $color--white;
    background-color: $color--magenta;
    padding: 16px 24px;
    @include vendor(border-bottom-left-radius, 0.9rem);
    @include vendor(border-bottom-right-radius, 0.9rem);
    @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
    cursor: pointer;

    div {
      display: flex;
      align-items: center;
      text-align: center;

      p {
        font-family: $font-semiBold;
        font-style: normal;
        font-weight: bold;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--white;
        margin: auto;
      }
    }

    &:hover {
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
      background-color: rgba($color--magenta, 0.85);
    }
  }
}

.alert {
  &-text {
    display: flex;
    align-items: center;

    img {
      margin-right: .5rem;
    }
  }
}

.whatwhybelt {
  &-tabs {
    .tabs {
      &-nav {
        display: flex;
        border-width: 4px !important;

        a {
          font-family: $font-medium;
          width: 33.333%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-width: 4px !important;
          margin-bottom: -4px !important;
          text-transform: none;

          p {
            font-size: 16px;
            margin-left: 0.35rem;
            color: $color--magenta;
          }

          span {
            font-size: 24px;

            &::before {
              color: $color--magenta;
            }
          }
        }

        // li {
        //   width: 33.333%;
        //   text-align: center;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   border-width: 4px !important;
        //   margin-bottom: -4px !important;
        //   text-transform: none;

        //   p {
        //     font-size: 16px;
        //     margin-left: .35rem;
        //     color: $color--magenta;
        //   }

        //   span {
        //     font-size: 24px;

        //     &::before {
        //       color: $color--magenta;
        //     }
        //   }
        // }
      }
    }
  }
}

.text {
  font-size: 16px;
  line-height: 1.45;
  color: $color--gray-6;
  margin-top: 16px;
  ol{
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 20px;
    li{
      padding-bottom: 8px;
    }
  }
}

//-- MODULE
.module {
  &-list {}

  &-item {
    padding: 0.4rem;
    border: 1px solid $color--gray-3;
    @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
    @include vendor(border-radius, 0.5rem);
    cursor: pointer;

    &:hover {
      @include vendor(transform, translate(0, -1%));
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.13);
    }

    &__image {
      position: relative;
      @include vendor(border-radius, 0.5rem);

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (89 / 115) * 100%;
      }

      >.inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center center;
        background-size: cover;
        @include vendor(border-radius, 0.5rem);
      }
    }

    &__desc {
      padding-left: 1.3rem;

      h5 {
        font-family: $font-medium;
        font-size: 20px;
        font-weight: 500;
        color: $color--orange;
        margin-bottom: 0.4rem;
      }

      p {
        color: $color--gray-6;
        line-height: 1.4;
        margin-bottom: 0.8rem;
      }
    }

    &__info {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5rem;
      }

      div {
        display: flex;
        align-items: center;
        font-family: $font-medium;

        p {
          margin: auto;
          margin-right: 0.5rem;
          color: $color--gray-6;
        }

        span {
          color: $color--black;
        }
      }
    }
  }
}

.status {
  display: inline-block;
  align-items: center;
  color: $color--gray-6;
  background-color: $color--gray-3;
  padding: 0.6rem 1.3rem;
  position: relative;
  overflow: hidden;
  @include vendor(border-radius, 1.8rem);
  font-size: 12px;

  &--complete {
    color: $color--green;
    background-color: rgba($color: $color--green, $alpha: 0.12);
  }

  &--progress {
    color: $color--magenta;
    background-color: rgba($color: $color--magenta, $alpha: 0.12);
  }
}

.sidebar {
  z-index: 1040;
  margin-bottom: 20px;
}

//-- Notification
.notification {
  &-center {
    width: 600px;

    &__wrapper{
      height: 221px;
      overflow-y: scroll;
    }
    &__title {
      display: flex;
      justify-content: space-between;

      h5 {
        font-family: $font-medium;
        font-size: 14px;
        font-weight: 500;
      }

      a {
        font-family: $font-medium;
        color: $color--magenta;
        font-weight: 500;
        cursor: pointer;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      // padding: 0.56rem 0;
      padding: .56rem 0.5rem .56rem 0;
      border-bottom: 2px dashed $color--gray-3;

      &:hover {
        background-color: rgba($color: $color--orange, $alpha: 0.05);
      }

      img {
        width: 40px;
      }
    }

    &__image{
      width: 40px;
      display: flex;
      align-items: center;
      img{
        width: 100%;
      }
    }

    &__text {
      width: calc(100% - 95px);
      padding: 0 1rem;
      line-height: 1.3;

      i {
        font-style: italic;
      }
    }

    &__button {
      width: 55px;
      display: flex;
      align-items: center;

      .button {
        width: 100%;
      }
    }
  }

  &-popover {
    margin-top: -15px;
    margin-left: 30px;

    .popover.notification-popover {
      border: none;
      background: none;
    }

    .arrow {
      display: none;
    }
  }
}

.popover.notification-popover {
  border: none;
  background: none;
}

//-- Popover
.tippy-box[data-theme~='light'] {
  background-color: transparent;
  color: $body--text__color;
}

.tippy-box[data-theme~='light'] .tippy-content {
  padding: 0;
}

.tippy-box[data-theme~='light'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: $body--text__color-light;
}

.tippy-box[data-theme~='light'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: $body--text__color-light;
}

.tippy-box[data-theme~='light'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: $body--text__color-light;
}

.tippy-box[data-theme~='light'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: $body--text__color-light;
}

.belt-rank {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 24px;

    &-title {
      display: flex;
      align-items: center;

      span {
        font-size: 30px;
        color: $color--white;
        &::before{
          color: $color--white;
        }
      }

      p {
        min-width: 100px;
        margin-left: 8px;
        font-family: $font-medium;
        font-size: $text-size-normal;
        line-height: 24px;
        color: $color--white;
      }
    }

    &-extra {
      display: flex;
      align-items: center;

      .header-extra {
        &__item {

          .dropdown {
            &-filter {
              top: 12px !important;
              // left: 10px !important;
              border: none;
              width: 100%;
              max-width: 400px;
              min-width: 340px;


              &__content {
                padding: 16px 24px;

                h3 {
                  font-family: $font-medium;
                  font-size: $text-size-medium-large;
                  line-height: 32px;
                  color: $color--black;
                }

                .filter-category {
                  h6 {
                    margin-top: 16px;
                    font-family: $font-medium;
                    font-size: $text-size-normal;
                    line-height: 24px;
                    color: $color--black;
                  }

                  &__list {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 0;
                    flex-wrap: wrap;

                    &-item {
                      margin: 2px 0;

                      .custom-control-input {
                        &~.custom-control-label {
                          &:before {
                            background: $color--white;
                            border: 1px solid $color--gray-3;
                            box-sizing: border-box;
                            border-radius: 4px;
                            width: 24px;
                            height: 24px;
                            vertical-align: middle;
                          }

                          &:after {
                            width: 24px;
                            height: 24px;
                            border-radius: 4px;
                          }
                        }

                        &:hover {
                          &~.custom-control-label {
                            &:before {
                              background-color: rgba($color--magenta, 0.3);
                            }
                          }
                        }

                        &:focus {
                          &~.custom-control-label {
                            &:before {
                              box-shadow: none !important;
                            }
                          }
                        }

                        &:checked {
                          &~.custom-control-label {
                            &:before {
                              box-shadow: none !important;
                              background-color: $color--magenta;
                            }
                          }
                        }
                      }


                      label {
                        cursor: pointer;
                        font-family: $font-regular;
                        font-size: $text-size-normal;
                        line-height: 32px;
                        color: $color--gray-6;
                        padding-left: 8px;
                      }
                    }
                  }
                }
              }
            }

            &-toggle::after {
              display: none;
            }
          }

          button {
            font-family: $font-medium;
            font-size: $text-size-normal;
            line-height: 24px;
            color: $color--gray-6;

            background: $color--white;
            border-radius: 8px;
            padding: 8px 16px;
            display: flex;
            align-items: center;

            @include vendor(transition,
              all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

            img {
              margin-left: 24px;
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              @include vendor(transform, scaleY(1));
            }

            &[aria-expanded="false"] {
              img {
                @include vendor(transition,
                  all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
                @include vendor(transform, scaleY(-1));
              }
            }

            &:hover {
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              background-color: rgba($color--white, 0.5);
            }
          }

          &-search {
            max-width: 260px;

            span {
              border: none;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              background-color: $color--white;
              padding: 0 8px;
            }

            input {
              border: none;
              background-color: $color--white;
              padding-left: 8px;
              font-family: $font-regular;
              font-size: $text-size-normal;
              line-height: 24px;
              color: $color--gray-6;

              &:focus {
                box-shadow: none;
              }

              &::placeholder {
                font-family: $font-regular;
                font-size: $text-size-normal;
                line-height: 24px;
                color: $color--gray-6;

              }
            }
          }

          &:first-child {

            margin-right: 24px;
          }
        }
      }
    }
  }

  &__popover {
    &-box {
      background: $color--white;
      box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      transform: rotate(-180deg);
      border: none;

      .arrow {
        &::before {
          border-right-color: $color--white;
        }
      }
    }

    &-content {
      max-width: 240px;
      padding: 16px 8px;

      &-2{
        h6{
          margin-top: 0 !important;
        }
        p{
          font-size: $text-size-small !important;
        }
      }

      img {
        width: 40px;
      }

      h6 {
        margin-top: 0;
        font-family: $font-medium;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--black;
        display: flex;
        align-items: center;
        .button{
          display: inline-block;
          padding: .3rem 0.4rem;
          margin-left: .5rem;
          p{
            margin-top: 0;
          }
        }
      }

      p {
        margin-top: 4px;
        font-family: $font-regular;
        font-size: $text-size-small-extra;
        line-height: 1.5;
        color: $color--gray-6;
      }
    }
  }
}


.question {
  &__popover {
    &-box {
      background: $color--white;
      box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      transform: rotate(-180deg);
      border: none;

      .arrow {
        &::before {
          border-top-color: $color--white;
          border-bottom-color: $color--white;
        }
      }
    }

    &-content {
      max-width: 216px;
      padding: 16px 8px;

      p {
        margin-top: 4px;
        font-family: $font-regular;
        font-size: $text-size-small-extra;
        line-height: 20px;
        color: $color--gray-6;
      }
    }
  }

  &__box {
    background: $color--white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 24px 36px;


    &-header {
      font-family: $font-regular;
      font-size: $text-size-big-large;
      line-height: 44px;
      text-align: center;
      color: $color--black;
      padding: 32px;

      p {
        margin-top: 8px;
        font-family: $font-medium;
        font-size: $text-size-normal;
        line-height: 24px;
        color: $color--gray-5;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      padding: 16px 8px;
      flex-wrap: wrap;

      &-2 {
        padding: 48px 8px !important;
      }

      &-item {
        background: $color--white;
        box-sizing: border-box;
        border-radius: 16px;
        margin: 8px;
        border: 1px solid #E5E5E5;

        &-2 {
          background: none;
          border: 0px solid $color--white !important;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .drop-active {
          border-color: #aaa !important;
        }

        .drop-target {
          background-color: $color--white !important;
          border: 2px dashed black !important;
        }

        // .drag-drop {
        //   display: inline-block;
        //   min-width: 40px;
        //   padding: 2em 0.5em;

        //   color: #fff;
        //   background-color: #29e;
        //   border: solid 2px #fff;

        //   touch-action: none;
        //   -webkit-transform: translate(0px, 0px);
        //   transform: translate(0px, 0px);

        //   transition: background-color 0.3s;
        // }

        // .drag-drop.can-drop {
        //   color: #000;
        //   background-color: #4e4;
        // }

        .question__container {
          position: relative;
          width: 100%;
          border-radius: 16px;

          &-backdrop {
            position: absolute;
            padding: 20px;
            border-radius: 16px;
            background: #FAFAFA;
            width: 100%;

            p {
              font-family: $font-medium;
              font-size: $text-size-small;
              line-height: 22px;
              color: #D9D9D9;
            }
          }

          &-draggable {
            display: flex;
            align-items: center;
            background: $color--white;
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 16px;
            padding: 20px;

            p {
              font-family: $font-medium;
              font-size: $text-size-small;
              line-height: 22px;
              color: $color--black;
            }

            // touch-action: none;
            // -webkit-transform: translate(0px, 0px);
            // transform: translate(0px, 0px);

            transition: background-color 0.3s;
            z-index: 10;

            &-number {
              background: #F38224;
              border-radius: 4px;
              padding: 1px 9px;
              display: none;

              p {
                font-family: $font-medium;
                font-size: $text-size-small;
                line-height: 22px;
                text-align: center;
                color: $color--white;
              }

              margin-right: 12px;

              &-visible {
                display: block !important;
              }
            }

            &.can-drop {
              color: #000;
              background-color: #4e4;
            }
          }
        }

        .answer__container {
          position: relative;
          width: 100%;
          border-radius: 16px;

          &-dropzone {
            display: flex;
            align-items: center;
            background-color: #F3F1F2;
            border: 1px dashed #A5A5A5;
            box-sizing: border-box;
            border-radius: 16px;
            padding: 20px;
            width: 100%;
            transition: background-color 0.3s;


            p {
              font-family: $font-medium;
              font-size: $text-size-small;
              line-height: 22px;
              color: #A5A5A5;
            }

            &-number {
              background: #F38224;
              border-radius: 4px;
              padding: 1px 9px;

              p {
                font-family: $font-medium;
                font-size: $text-size-small;
                line-height: 22px;
                text-align: center;
                color: $color--white;
              }

              margin-right: 12px;
            }
          }
        }

        &-quest {
          background: $color--gray-2;
          border-radius: 16px;
          padding: 20px;
          width: 48%;

          p {
            font-family: $font-medium;
            font-size: $text-size-small;
            line-height: 22px;
            color: $color--black;
          }
        }

        &-answer {
          width: 48%;

          .dropdown {
            &-answer {
              width: 45%;
              background: $color--white;
              border: 1px solid $color--gray-5;
              box-sizing: border-box;
              border-radius: 10px;
              top: 5px !important;
            }

            &-toggle::after {
              display: none;
            }
          }

          button {
            background: $color--white;
            border: 1px solid $color--gray-5;
            box-sizing: border-box;
            border-radius: 16px;
            padding: 20px;
            width: 100%;

            p {
              font-family: $font-medium;
              font-size: $text-size-normal;
              line-height: 24px;
              color: $color--black;
              width: 100%;
              text-align: left;
            }

            display: flex;
            align-items: center;

            @include vendor(transition,
              all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

            img {
              margin-left: 24px;
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              @include vendor(transform, scaleY(1));
            }

            &[aria-expanded="false"] {
              img {
                @include vendor(transition,
                  all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
                @include vendor(transform, scaleY(-1));
              }
            }

            &:hover {
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              background-color: rgba($color--white, 0.5);
            }
          }
        }

        .custom-checkbox {
          .custom-control-input {
            &~.custom-control-label {
              &:before {
                background: $color--white;
                border: 1px solid $color--gray-3;
                box-sizing: border-box;
                border-radius: 4px;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin: 20px;
              }

              &:after {
                width: 24px;
                height: 24px;
                border-radius: 4px;
                margin: 20px;
              }
            }

            &:hover {
              &~.custom-control-label {
                &:before {
                  background-color: rgba($color--magenta, 0.3);
                }
              }
            }

            &:focus {
              &~.custom-control-label {
                &:before {
                  box-shadow: none !important;
                }
              }
            }

            &:checked {
              &~.custom-control-label {
                &:before {
                  box-shadow: none !important;
                  background-color: $color--magenta;
                }
              }
            }
          }
        }

        .custom-radio {
          .custom-control-input {
            &~.custom-control-label {
              &:before {
                background: $color--white;
                border: 1px solid $color--gray-3;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin: 20px;
              }

              &:after {
                width: 24px;
                height: 24px;
                margin: 20px;
              }
            }

            &:hover {
              &~.custom-control-label {
                &:before {
                  background-color: rgba($color--magenta, 0.3);
                }
              }
            }

            &:focus {
              &~.custom-control-label {
                &:before {
                  box-shadow: none !important;
                }
              }
            }

            &:checked {
              &~.custom-control-label {
                &:before {
                  box-shadow: none !important;
                  background-color: $color--magenta;
                }
              }
            }
          }
        }

        .custom-boolean {
          left: 0;
          padding: 0;

          .custom-control-input {
            &~.custom-control-label {
              border-radius: 16px;

              &:before {
                background: $color--white;
                border: 1px solid $color--gray-3;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin: 20px;
                left: 0;
              }

              &:after {
                width: 24px;
                height: 24px;
                margin: 20px;
                left: 0;
              }
            }

            &:hover {
              &~.custom-control-label {
                &:before {
                  background-color: rgba($color--magenta, 0.3);
                }
              }
            }

            &:focus {
              &~.custom-control-label {
                &:before {
                  box-shadow: none !important;
                }
              }
            }

            &:checked {
              &~.custom-control-label {
                background-color: $color--magenta;
                color: $color--white;
                border-radius: 16px;
                transition: background-color .15s ease-in-out,
                  border-color .15s ease-in-out,
                  box-shadow .15s ease-in-out;

                &:before {
                  box-shadow: none !important;
                  background-color: $color--white;
                  border: 1px solid $color--magenta;
                  left: 0;
                  transition:
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
                }

                &:after {
                  box-shadow: none !important;
                  background-color: $color--white;
                  background-image: url(../images/icons/CheckMagenta.svg);
                  left: 0;
                  transition: background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;

                }
              }
            }
          }

          label {
            border-radius: 16px;
            cursor: pointer;
            font-family: $font-medium;
            font-size: $text-size-small;
            line-height: 32px;
            color: $color--black;
            padding-left: 60px !important;
            padding: 20px;
            width: 100%;
          }
        }


        label {
          cursor: pointer;
          font-family: $font-medium;
          font-size: $text-size-small;
          line-height: 32px;
          color: $color--black;
          padding-left: 28px !important;
          padding: 20px;
          width: 100%;
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      margin: 16px 0;

      &--justify {
        &-center {
          justify-content: center;
        }

        &-space-between {
          justify-content: space-between;
        }
      }

      &-back {
        margin-right: auto;
        @include vendor(transition,
          all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

        &--opacity {
          &-zero {
            opacity: 0;
            cursor: context-menu;
          }
        }

        div {
          display: flex;
          align-items: center;
          text-align: center;

          p {
            font-family: $font-semiBold;
            font-weight: bold;
            font-size: $text-size-small;
            line-height: 22px;
            color: $color--magenta;
            margin-left: 8px;
          }
        }

        &:hover {
          @include vendor(transition,
            all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          color: rgba($color--magenta, 0.85);
        }
      }

      &-doubt {
        background: $color--orange;
        padding: 12px 20px;
        @include vendor('border-radius', 100px);
        @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
        cursor: pointer;
        margin-left: 16px;
        margin-right: 16px;
        // position: absolute;
        cursor: pointer;

        .form-check {
          position: relative;
          cursor: pointer;
        }

        .form-check-input {
          position: absolute;
          top: 0;
          bottom: 0;
        }

        div {
          display: flex;
          align-items: center;
          text-align: center;

          p {
            font-family: $font-semiBold;
            font-weight: bold;
            font-size: $text-size-small;
            line-height: 22px;
            color: $color--white;
            margin-left: 3px;
            cursor: pointer;
          }
        }

        &:hover {
          @include vendor(transition,
            all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          background-color: rgba($color--orange, 0.85);

          img {
            left: 5px;
          }
        }
      }

      &-info {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: auto;
      }

      &-next,
      &-finish {
        // position: absolute;
        // right: 64px;
        background: $color--magenta;
        padding: 12px 20px;
        @include vendor('border-radius', 100px);
        @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
        cursor: pointer;

        div {
          display: flex;
          align-items: center;
          text-align: center;

          p {
            font-family: $font-semiBold;
            font-weight: bold;
            font-size: $text-size-small;
            line-height: 22px;
            color: $color--white;
            margin-right: 8px;
          }
        }

        &:hover {
          @include vendor(transition,
            all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          background-color: rgba($color--magenta, 0.85);

          img {
            left: 5px;
          }
        }
      }

      &-finish {
        div {
          p {
            margin: 0;
          }
        }
      }
    }
  }

  &-number {
    &__box {
      background: $color--white;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 48px 30px;

      &-header {
        font-family: $font-medium;
        font-size: $text-size-medium;
        line-height: 22px;
        color: $color--black;

        &-tip {
          display: flex;
          align-items: center;
          margin-top: 16px;

          div {
            display: flex;
            align-items: center;

            p {
              margin-left: 12px;
              font-family: $font-regular;
              font-weight: normal;
              font-size: $text-size-small;
              line-height: 22px;
              color: #000000;
              width: 60px;
            }

            .dot {
              border-radius: 100px;
              width: 20px;
              height: 20px;

              &--color {
                background-color: $color--black;

                &-red {
                  background-color: $color--magenta !important;
                }

                &-orange {
                  background-color: $color--orange !important;
                }
              }
            }
          }

          &-info {
            margin-left: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }

      &-list {
        margin: 32px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
          margin: 8px 0;
          border: 1px solid $color--gray-5;
          box-sizing: border-box;
          border-radius: 20px;
          width: 15%;
          padding: 15px 2px;
          text-align: center;
          cursor: pointer;
          max-width: 20%;
          margin-right: 0.6vw;
          margin-left: 0.6vw;

          p {
            font-family: $font-medium;
            font-size: $text-size-medium-large;
            line-height: 22px;
            color: $color--black;
          }

          &--active {
            border: 2px solid $color--magenta !important;
          }

          &:hover {
            border: 2px solid $color--magenta;
            @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          }

          &:active {
            border: 2px solid $color--magenta;
            @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          }

          &:focus {
            border: 2px solid $color--magenta;
            @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          }

          &--status {
            &-done {
              @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              background: $color--magenta;
              border: 2px solid transparent;

              p {
                color: $color--white !important;
              }

              &:hover {
                border: 2px solid $color--magenta !important;
                background-color: rgba($color--magenta, 0.85);
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }

              &:active {
                border: 2px solid $color--magenta !important;
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }

              &:focus {
                border: 2px solid $color--magenta !important;
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }
            }

            &-doubtful {
              @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              background: $color--orange;
              border: 2px solid transparent;

              p {
                color: $color--white !important;
              }

              &:hover {
                border: 2px solid $color--orange !important;
                background-color: rgba($color--orange, 0.85);
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }

              &:active {
                border: 2px solid $color--orange !important;
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }

              &:focus {
                border: 2px solid $color--orange !important;
                @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              }
            }
          }
        }
      }
    }
  }
}


.question-list {
  &__item {
    // display: flex;
    // align-items: center;
    // background: $color--white;
    // border: 1px solid #A5A5A5;
    // box-sizing: border-box;
    // border-radius: 16px;
    // padding: 20px;
    // margin-bottom: 15px;

    // p {
    //   font-family: $font-medium;
    //   font-size: $text-size-small;
    //   line-height: 22px;
    //   color: $color--black;
    // }
    position: relative;
    margin-bottom: 15px;
    height: 64px;
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background: $color--white-flash;
    border: 1px solid $color--white-flash;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;
    height: 64px;
    font-family: $font-medium;
    font-size: $text-size-small;
    line-height: 22px;
    color: $color--gray-5;
  }

  &__drag {
    position: relative;
    // width: 100%;
    display: flex;
    align-items: center;
    background: $color--white;
    border: 1px solid $color--gray-5;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;
    height: 64px;
    font-family: $font-medium;
    font-size: $text-size-small;
    line-height: 22px;
    color: $color--black;
  }
}

.answer-list {
  &__item {
    display: flex;
    align-items: center;
    background-color: $color--white-flash;
    border: 1px dashed #A5A5A5;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    transition: background-color 0.3s;
    position: relative;
    height: 64px;
    margin-bottom: 15px;

    p {
      font-family: $font-medium;
      font-size: $text-size-small;
      line-height: 22px;
      color: #A5A5A5;
    }

    &.draggable-dropzone--occupied {
      background: $color--white;
      border: 1px solid #A5A5A5;

      .answer-list {
        &__number {
          background-color: $color--orange;
          color: $color--white;
        }

        &__drag {
          display: none;
        }
      }

      .question-list {
        &__drag {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          background: none;
          border: 0;
          box-sizing: border-box;
          border-radius: 0;
          padding: 0;
          height: auto;
          font-family: $font-medium;
          font-size: $text-size-small;
          line-height: 22px;
          color: $color--black;
        }
      }
    }
  }

  &__number {
    background: $color--gray-4;
    border-radius: 4px;
    padding: 4px 10px;
    color: $color--gray-6;
    margin-right: .5rem;
    font-family: $font-medium;
  }

  &__drag {
    font-family: $font-medium;
    color: $color--gray-5;
  }

}

.answer-select {
  position: relative;
  border: 1px solid $color--gray-5 !important;
  box-sizing: border-box;
  border-radius: 16px !important;
  padding: 16px !important;
  height: 62px !important;
  font-family: $font-medium !important;
  font-size: $text-size-small !important;
  line-height: 22px !important;
  color: $color--black;
}



::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba($color: #ccc, $alpha: 1);
  // margin: 0 2px;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}