// - - - - - - - - - - - - - - - - - - -
// - - forms
// define global forms
input,
select{
    outline: none;
}
button{
    border: 0;
    margin: 0;
    padding: 0;
}

.custom-select{
    @include vendor(appearance, none);
    border: 1px solid #e8e8e8;
    @include vendor(border-radius, 4px);
    font-family: $font-regular;
    font-size: $text-size-small;
    line-height: 22px;
    height: calc(1.5em + 0.75rem + 12px);
    padding: .375rem .75rem;
}