/*!
* Genetic Grid v0.1.0
* Copyright 2011-2017 UxD Codigo.
* Licensed under MIT
*/

@at-root {
    @-ms-viewport {
        width: device-width; // stylelint-disable-line at-rule-no-vendor-prefix
    }
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.row {
    @include grid-row;
    // Grid Columns
    @include generate-grid-columns;
    // With Gutter
    &--with-gutter,
    &--with-gutter > .row {
        margin-left: -$grid-gutter;
        @include breakpoint(small) {
            margin-left: 0;
        }
        & > .column {
            margin-left: $grid-gutter;
            @include breakpoint(small) {
                width: 100%;
                margin-bottom: $grid-gutter;
                margin-left: 0;
            }
        }
    }
    &--around {
        @include flex-justifycontent-spacearound;
    }
    &--between {
        @include flex-justifycontent-spacebetween;
    }
    &--auto {
        & > .column {
            @include flex-grow(1);
        }
    }
}

// Reordering
.to-first {
    order: -1;
    &--in-small {
        @include breakpoint(small) {
            order: -1;
        }
    }
}
.to-last {
    order: 1;
    &--in-small {
        @include breakpoint(small) {
            order: 1;
        }
    }
}