.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $color--white;

  .logo {
    display: block;
    padding: .2rem 0 .6em;

    img {
      display: block;
      height: 60px;
    }
  }

  .container-fluid {}
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    display: flex;
    align-items: center;
    color: $color--gray-6;
    padding: .6rem 1rem;
    // background-color: $color--white;
    position: relative;
    overflow: hidden;
    @include vendor(border-radius, 1.8rem);
    margin: 0 .2rem;

    &:hover,
    &.active {
      color: $color--magenta;

      span {
        &::before {
          color: $color--magenta;
        }
      }

      &::before {
        width: 100%;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: $color--gray-2;
      top: 0;
      left: 0;
      z-index: -1;
      @include vendor(border-radius, 1.8rem);
      @include vendor(transition, all 250ms ease);
    }

    p {
      font-family: $font-medium;
      margin-left: .3rem;
      font-weight: 500;
    }

    span {
      font-size: 24px;

      &::before {
        color: $color--gray-6;
      }
    }
  }
}