// - - - - - - - - - - - - - - - - - - -
// - - icons
// define global icons
.icon{
    display: inline-block;
    &--size{
        &-small{
            img{
                height: 25px;
            }
        }
        &-big{
            img{
                height: 50px;
            }
        }
    }
}