/**************************\
  Basic Modal Styles
\**************************/

.modal {
  // font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  z-index: 99999;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal__container {
  background-color: $color--white;
  // padding: 1.3rem;
  width: 880px;
  max-width: 880px;
  max-height: 100vh;
  border-radius: 8px;
  box-sizing: border-box;

  &-course {
    min-width: 860px;
    width: 860px;
  }

  &-project {
    width: 850px;
    max-width: 96%;

    &-2 {
      width: 620px;
      min-width: 620px;
    }
    &-3{
      width: 420px;
      min-width: 420px;
    }
    .modal{
      &__header-2{
        padding-right: 0;
        h4{
          font-size: 18px;
        }
      }
      &__content-cts{
        padding-right: 0;
        max-height: 70vh;
      }
    }
  }

  &-exam {
    width: 320px;
    min-width: 320px;
    @include vendor('border-radius', 25px);

    &-2 {
      min-width: 420px;
      max-width: 420px;
      width: 420px;
    }

  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 0 32px;

  &-finish {
    padding: 24px;
    // background: linear-gradient(157.58deg, #F38224 0%, #D41886 100%);
    background: linear-gradient(161.21deg, #FFCA06 0%, #F38224 100%);
    border-radius: 25px 25px 6px 6px;

    h5 {
      font-family: $font-semiBold;
      font-weight: 600;
      font-size: $text-size-medium;
      line-height: 26px;
      color: $color--white;
    }

    h3 {
      font-family: $font-semiBold;
      font-weight: 600;
      font-size: $text-size-large;
      line-height: 58px;
      color: $color--white;
    }
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25;
  color: $color--black;
  box-sizing: border-box;

  h1 {
    font-family: $font-medium;
    line-height: 58px;
    font-size: $text-size-large;
    font-weight: 500;
  }

  h2 {
    font-family: $font-semiBold;
    line-height: 44px;
    font-size: $text-size-big-large;
    font-weight: 600;
  }
}

.modal__footer {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  padding: 16px 32px;
  font-family: $font-medium;
  font-style: normal;
  font-weight: 500;

  &-2 {
    padding: 16px 24px;
  }

  &--justify {
    &-flex-end {
      // justify-content: flex-end;
      justify-content: space-between;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-center {
      justify-content: center;
    }
  }

  &-cancel {
    padding: 8px 16px;
    font-size: $text-size-small;
    color: $color--magenta;
    cursor: pointer;

    &:hover {
      color: rgba($color--magenta, 0.7);
    }

    &-2 {
      width: 50%;
      font-family: $font-semiBold;
      text-align: center;
      color: $color--gray-5 !important;

      &:hover {
        color: rgba($color--gray-5, 0.7) !important;
      }

    }
  }

  &-retake {
    background: $color--orange;
    padding: 12px 20px;
    @include vendor('border-radius', 100px);
    @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
    cursor: pointer;
    // margin-right: auto;
    margin-bottom: 16px;

    div {
      display: flex;
      align-items: center;
      text-align: center;

      p {
        font-family: $font-semiBold;
        font-style: normal;
        font-weight: bold;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--white;
        margin-right: 8px;
      }
    }

    &:hover {
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
      background-color: rgba($color--orange, 0.85);
    }
  }

  &-upload,
  &-back,
  &-ok {
    background: $color--magenta;
    padding: 12px 20px;
    @include vendor('border-radius', 100px);
    @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
    cursor: pointer;

    div {
      display: flex;
      align-items: center;
      text-align: center;

      p {
        font-family: $font-semiBold;
        font-style: normal;
        font-weight: bold;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--white;
        margin-right: 8px;
      }
    }

    &:hover {
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
      background-color: rgba($color--magenta, 0.85);
    }
  }

  &-ok {
    width: 50%;

    div {
      justify-content: center;
    }
  }

  &-back {
    margin-bottom: 16px;
  }
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: '\2715';
}

.modal__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-family: $font-regular;
  // font-size: $text-size-normal;
  padding: 0 32px;
  overflow-y: auto;
  max-height: 60vh;

  &-2 {
    margin-top: 40px;
    padding: 0 100px;
    text-align: center;

    div {
      margin-top: 20px;

      h2 {
        font-family: $font-medium;
        font-size: $text-size-large;
        line-height: 58px;
        font-weight: normal;
      }

      p {
        font-family: $font-regular;
        font-size: $text-size-normal;
        line-height: 22px;
        color: #000000;
      }
    }
  }

  &-3 {
    text-align: center;
    font-family: $font-semiBold;
    font-weight: 600;

    h6 {
      font-weight: 600;
      font-size: $text-size-small;
      line-height: 22px;
      color: $color--gray-5;
    }

    h5 {
      font-weight: 600;
      font-size: $text-size-normal-large;
      line-height: 22px;
      color: $color--magenta;
    }

    p {
      margin: 8px 0;
      font-family: $font-regular;
      font-weight: normal;
      font-size: $text-size-normal;
      line-height: 24px;
      color: $color--gray-6;
    }

    .levelup-reward {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 4px;

      &-point,
      &-course {
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 8px 0;
        }
      }
    }
  }

  &-4 {
    padding: 0 24px;

    h5 {
      font-family: $font-semiBold;
      font-weight: 600;
      font-size: $text-size-normal-large;
      line-height: 26px;
      color: $color--black;
    }

    p {
      margin-top: 4px;
      margin-bottom: 16px;
      font-family: $font-regular;
      font-size: $text-size-normal;
      line-height: 24px;
      color: $color--gray-6;
    }
  }

  &-5 {
    padding: 12px 24px;
    text-align: justify;

    h5 {
      font-family: $font-semiBold;
      font-weight: 600;
      font-size: $text-size-normal-large;
      line-height: 26px;
      color: $color--black;
    }

    p {
      margin-top: 4px;
      margin-bottom: 4px;
      font-family: $font-regular;
      font-size: $text-size-normal;
      line-height: 24px;
      color: $color--gray-6;
    }
  }

  .form {
    &-project {
      label {
        font-family: $font-regular;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--black;
        margin-bottom: 8px;
      }

      .dropzone {
        background: $color--white;
        border: 1px solid $color--gray-3;
        box-sizing: border-box;
        @include vendor(border-radius, 4px);
        font-family: $font-regular;
        font-size: $text-size-small;
        line-height: 22px;
        color: $color--gray-6;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .dz-preview {
          margin: 0px;
        }

        .dz-image {
          width: 80px;
          height: 80px;
        }

        .dz-details {
          top: 60px;

          .dz-size {
            display: none;
          }
        }

        .dz-error-message {
          left: -25px;
        }

        .dz-error-mark {
          top: 40%;
        }
      }

      .input-group {
        background: $color--white;
        border: 1px solid $color--gray-3;
        box-sizing: border-box;
        @include vendor(border-radius, 4px);

        .form-control {
          border: none;
          font-family: $font-regular;
          font-size: $text-size-small;
          line-height: 22px;
          color: $color--gray-6;
          margin-top: 4px;
          margin-bottom: 4px;

          &:focus {
            box-shadow: none;
          }
        }

        &-append {
          .btn {
            &__operator {
              padding: 3px 10px;
              margin: 3px 5px;
              background: $color--white;
              border: 1px solid $color--gray-3;
              box-sizing: border-box;
              @include vendor(border-radius, 4px !important);

              &-left {
                padding: 3px 12px;
              }

              &:hover {
                font-weight: bold;
                color: $color--black;
              }
            }
          }
        }
      }

      ::placeholder {
        font-family: $font-regular;
        font-size: $text-size-small;
        color: $color--gray-6;
      }

      :-ms-input-placeholder {
        font-family: $font-regular;
        font-size: $text-size-small;
        color: $color--gray-6;
      }

      ::-ms-input-placeholder {
        font-family: $font-regular;
        font-size: $text-size-small;
        color: $color--gray-6;
      }
    }
  }

  &-list {
    margin-top: 24px;
    max-height: 52vh;
    overflow-y: auto;

    .list__card {
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      border-radius: 8px;
      margin-bottom: 8px;
      @include vendor(transition,
        all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

      &--border-red {
        border: 2px solid #d41886 !important;
        box-sizing: border-box;
        @include vendor(transition,
          all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
      }

      &-header {
        padding: 16px 0px;
        margin: 0 24px;
        border-radius: 8px;
        border-bottom: 1px solid $color--gray-2;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.collapsed{
          .card-header {
            &--toggle {
              @include vendor(transform, scaleY(1));
            }
          }
        }

        .card-header {
          &--toggle {
            display: inline-flex;
            vertical-align: middle;
            @include vendor(transition,
              all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
            // @include vendor(transform, scaleY(1));
            @include vendor(transform, scaleY(-1));

            &-up {
              transform: rotate(0deg);
            }

            &-down {
              @include vendor(transition,
                all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
              @include vendor(transform, scaleY(-1));
              filter: FlipH;
              -ms-filter: 'FlipH';
            }
          }

          &-title {
            font-family: $font-regular;
            font-size: $text-size-normal;
            color: $color--gray-6;
            font-weight: normal;
            margin-right: auto;
            width: 65%;
            padding: 0 16px;
            // display: flex;
            // align-items: center;
            &__check{
              margin-left: .9rem;
              display: inline-block;
              position: relative;
              top: 6px;
              width: 20px;
              height: 20px;

              img{
                display: block;
                width: 20px;
                height: 20px;
              }
            }
          }

          &-info {
            display: flex;
            align-items: center;

            img {
              margin-right: 0.5rem;
            }

            div {
              display: flex;
              align-items: center;
              font-family: $font-medium;

              p {
                margin: auto;
                margin-right: 0.5rem;
                color: $color--gray-6;
              }

              span {
                color: $color--black;
              }
            }
          }
        }

        &.collapsed {
          border-bottom: none;
        }
      }

      &-body {
        padding: 10px 24px;
        margin: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: $color--gray-6;
        }

        .card-body {
          &-play {
            display: inline-flex;
            vertical-align: middle;
            transition: transform 0.1s linear;
            cursor: pointer;

            &:hover {
              transform: scale(1.15);
            }
          }

          &-title {
            font-family: $font-regular;
            font-size: $text-size-normal;
            color: $color--gray-6;
            font-weight: normal;
            margin-right: auto;
            width: 70%;
            padding: 0 16px;
          }

          &-link {
            display: flex;
            align-items: center;
            font-family: $font-medium;
            position: relative;
            cursor: pointer;
            @include vendor(transition, all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

            p {
              margin: auto;
              margin-right: 0.5rem;
              color: $color--magenta;
              font-size: $text-size-normal;
            }

            &-arrow {
              display: inline-flex;
              vertical-align: middle;
            }

            &:hover {
              left: 5px;
            }
          }
        }
      }
    }
  }
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal .modal__container,
.modal .modal__overlay {
  will-change: transform;
}