// - - - - - - - - - - - - - - - - - - -
// - - tables
// define global tables

// .table {
//   &__card {
//     border-radius: 8px;
//   }

.table {
  &__card {
    border-radius: 8px;
  }
}

table {
  background-color: $color--white;
  margin-bottom: 0 !important;

  .thead-custom {
    &--color {
      &-gradient {
        color: #f8f9fe;
        background: linear-gradient(176.51deg, #ffca06 0%, #f38224 100%);
      }
    }
  }

  tbody,
  thead {
    display: block;
    max-height: 630px;
    overflow-y: auto;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    th {
      font-family: $font-medium;
      font-size: $text-size-normal;
      line-height: 24px;
      color: $color--white;
      padding-top: 18px !important;
      padding-bottom: 18px !important;
      width: 28.3%;
      border: none !important;

      &:first-child {
        padding-left: 28px !important;
        width: 28.3%;
      }

      &:last-child {
        padding-right: 28px !important;
        width: 20%;
      }
    }

    td {
      font-family: $font-regular;
      font-size: $text-size-small;
      line-height: 22px;
      color: $color--gray-6;
      vertical-align: middle !important;
      width: 28.3%;
      padding-top: 12px !important;
      padding-bottom: 12px !important;

      &:first-child {
        padding-left: 28px !important;
        width: 28.3%;
      }

      &:last-child {
        padding-right: 28px !important;
        width: 20%;
      }

      .column {
        &-name {
          display: flex;
          align-items: center;
        }

        &-belt {
          display: flex;
          align-items: center;

          &__popover {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
              width: 35px;
            }

            P {
              margin: 0 8px;
            }
          }
        }

        &-function {
          display: flex;
          align-items: center;
          // margin-left: 10px;
        }

        &-contact {
          display: flex;
          align-items: center;
          background-color: $color--magenta;
          border-radius: 20px;
          padding: 8px 16px;
          max-width: 120px;
          cursor: pointer;
          @include vendor(transition,
            all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);

          img {
            width: 20px;
            margin-right: 8px;
          }

          p {
            color: $color--white;
          }

          &:hover {
            background-color: rgba($color--magenta, 0.7);
            @include vendor(transition,
              all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms);
          }
        }
      }
    }
  }
}

// }