// Make Row
@mixin grid-row {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap-wrap;
    @include breakpoint(small) {
        @include flex-direction-column;
        @include flex-wrap-nowrap;
    }
}

// Generate Columns
@mixin generate-grid-columns {
    @for $i from 1 through $grid-columns {
        .column__#{$i} {
            width: 100% / $grid-columns * $i;
        }
        .offset__#{$i} {
            $width: 100% / $grid-columns * $i;
            margin-left: $width;
            @include breakpoint(small) {
                margin-left: 0;
            }
        }
        &--with-gutter {
            @for $i from 1 through $grid-columns {
                & > .column__#{$i} {
                    $width: 100% / $grid-columns * $i;
                    width: calc(#{$width} - #{$grid-gutter});
                }
                & > .offset__#{$i} {
                    $width: 100% / $grid-columns * $i;
                    margin-left: calc(#{$width} - #{$grid-gutter}) !important;
                    @include breakpoint(small) {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}

// Grid Media Columns
@mixin grid-media-columns($columns) {
    -webkit-column-count: $columns;
    -moz-column-count: $columns;
    column-count: $columns;
    -webkit-column-gap: $grid-gutter;
    -moz-column-gap: $grid-gutter;
    column-gap: $grid-gutter;
    & > div {
        display: inline-block;
        width: 100%;
    }
    @include breakpoint(small) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}