// - - base

// - - project defaults for base elements - h1-h6, p, a, etc.
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $body--text__font;
  font-size: 14px;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: $body--text__color;
  background-color: $body--background__color;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

blockquote,
figure {
  margin: 0;
}

blockquote {
  .quote {
    quotes: '“''”''‘''’';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

table {
  padding: 0;
}