// - - - - - - - - - - - - - - - - - - -
// - - colors
// define global colors

// - - - - - - - - - - - - - - - - - - -
// - - descriptive colors
$color--white: #ffffff;
$color--white-flash: #f3f1f2;
$color--gray: #fafafa;
$color--gray-2: #f5f5f5;
$color--gray-3: #e8e8e8;
$color--gray-4: #d9d9d9;
$color--gray-5: #a5a5a5;
$color--gray-6: #666666;

$color--black: #1e2225;
$color--magenta: #d41886;
$color--magenta-dark: #640f39;
$color--orange: #f38224;
$color--yellow: #ffca06;
$color--yellow-flash: #fdf3cb;
$color--yellow-dark: #693a00;
$color--green: #219e40;
$color--red: #EB5757;

// - - - - - - - - - - - - - - - - - - -
// - - functional colors

// - - base
$body--background__color: $color--white-flash;
$body--text__color: $color--black;
$body--text__color-light: $color--white;

// - - button

// - - forms

// - - tables