// - - - - - - - - - - - - - - - - - - -
// - - fonts
// define global fonts

// - - - - - - - - - - - - - - - - - - -
// - - fonts use
@font-face {
  font-family: 'Basier Square SemiBold';
  src: url('../fonts/BasierSquare/BasierSquare-SemiBold.eot');
  src: url('../fonts/BasierSquare/BasierSquare-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-SemiBold.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square Bold';
  src: url('../fonts/BasierSquare/BasierSquare-Bold.eot');
  src: url('../fonts/BasierSquare/BasierSquare-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-Bold.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square Regular';
  src: url('../fonts/BasierSquare/BasierSquare-Regular.eot');
  src: url('../fonts/BasierSquare/BasierSquare-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-Regular.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square SemiBoldItalic';
  src: url('../fonts/BasierSquare/BasierSquare-SemiBoldItalic.eot');
  src: url('../fonts/BasierSquare/BasierSquare-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square MediumItalic';
  src: url('../fonts/BasierSquare/BasierSquare-MediumItalic.eot');
  src: url('../fonts/BasierSquare/BasierSquare-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-MediumItalic.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square Medium';
  src: url('../fonts/BasierSquare/BasierSquare-Medium.eot');
  src: url('../fonts/BasierSquare/BasierSquare-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-Medium.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square BoldItalic';
  src: url('../fonts/BasierSquare/BasierSquare-BoldItalic.eot');
  src: url('../fonts/BasierSquare/BasierSquare-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-BoldItalic.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square RegularItalic';
  src: url('../fonts/BasierSquare/BasierSquare-RegularItalic.eot');
  src: url('../fonts/BasierSquare/BasierSquare-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasierSquare/BasierSquare-RegularItalic.woff2') format('woff2'),
    url('../fonts/BasierSquare/BasierSquare-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

//FONT ICON
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/font-icon/icomoon.eot?poo3x4');
  src: url('../fonts/font-icon/icomoon.eot?poo3x4#iefix') format('embedded-opentype'),
    url('../fonts/font-icon/icomoon.ttf?poo3x4') format('truetype'),
    url('../fonts/font-icon/icomoon.woff?poo3x4') format('woff'),
    url('../fonts/font-icon/icomoon.svg?poo3x4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Home:before {
  content: '\e900';
  color: #d41886;
}

.icon-Point .path1:before {
  content: '\e902';
  color: rgb(243, 130, 36);
}

.icon-Point .path2:before {
  content: '\e903';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-Reward:before {
  content: '\e904';
  color: #666;
}

.icon-User:before {
  content: '\e905';
  color: #666;
}

// - - - - - - - - - - - - - - - - - - -
// - - descriptive fonts
$font--basiersquare: 'Basier Square Regular',
'Helvetica',
'Arial',
sans-serif;

// - - - - - - - - - - - - - - - - - - -
// - - functional fonts
$body--text__font: $font--basiersquare;
$body--text__font-2: $font--basiersquare;
$body--text__font-3: $font--basiersquare;

// Typefaces
$font-regular: 'Basier Square Regular';
$font-regularItalic: 'Basier Square RegularItalic';
$font-medium: 'Basier Square Medium';
$font-mediumItalic: 'Basier Square MediumItalic';
$font-semiBold: 'Basier Square SemiBold';
$font-semiBoldItalic: 'Basier Square SemiBoldItalic';
$font-bold: 'Basier Square Bold';
$font-boldItalic: 'Basier Square BoldItalic';

// text sizes
$text-size-large-extra: 3.5rem; //56px;
$text-size-large: 2.625rem; //42px
$text-size-big-large: 2rem; //32px;
$text-size-big: 1.75rem; //28px
$text-size-medium-large: 1.5rem; //24px;
$text-size-medium: 1.25rem; //20px
$text-size-normal-large: 1.125rem; //18px
$text-size-normal: 1rem; //16px
$text-size-small: 0.875rem; //14px
$text-size-small-extra: 0.75rem; //12px