// - - - - - - - - - - - - - - - - - - -
// - - helper
// define global helper
img {
  max-width: 100%;
}

// - - layout
.divider {
  margin: 20px 0;
  background: transparent;
  height: 1px;

  &--margin {
    &-small {
      margin: 5px 0;
    }

    &-small-extra {
      margin: 2.5px 0;
    }

    &-big {
      margin: 30px 0;
    }

    &-normal {
      margin: 10px 0;
    }

    &-big-extra {
      margin: 45px 0;
    }
  }

  &--mobile {
    display: none;

    @include bp-768() {
      display: block;
    }
  }

  &--border {
    background: $color--white-flash;
  }
}

.text-center {
  text-align: center;
}

.mobile-small-show {
  display: none;

  @include bp-425() {
    display: block;
  }
}

.mobile-show {
  display: none !important;

  @include bp-1024() {
    display: block;
  }
}

.mobile-hide {
  @include bp-1024() {
    display: none !important;
  }
}

.mobile-sm-show {
  display: none !important;

  @include bp-768() {
    display: block;
  }
}

.mobile-sm-hide {
  @include bp-768() {
    display: none !important;
  }
}

.desktop-hide {
  display: none !important;
}