@charset 'utf-8';

// - - - - - - - - - - - - - - - - - - -
// - - application.scss
// contains an import section for base, components, lib, modules, pages

// - - - - - - - - - - - - - - - - - - -
// - - libs

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1900px);

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 992px,
  xl: 1140px,
  xxl: 1610px);
// - - - - - - - - - - - - - - - - - - -

// - - variable overrides for 3rd party libraries
// exp: @import 'libs/library-variable-overrides';
// Import BT sources
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import 'libs/bootstrap';
@import 'libs/swiper';
// @import 'libs/bootstrap-4-grid';
@import 'libs/fullpage';


// - - - - - - - - - - - - - - - - - - -
// - - modules

// - - global modules - functions, mixins, extends, and utility classes.
// exp: @import 'modules/modules';
@import 'modules/mixin';
@import 'modules/variables';
@import 'modules/breakpoints';
@import 'modules/flex';
//@import 'modules/grid-framework';


// - - - - - - - - - - - - - - - - - - -
// - - base

// - - project defaults for base elements - h1-h6, p, a, etc.
// exp: @import 'base/base';
@import 'base/reset-src';
// @import "base/normalize/import-now";
@import 'base/variables';
@import 'base/colors';
@import 'base/fonts';
@import 'base/base';
@import 'base/helper';
@import 'base/typography';




// - - - - - - - - - - - - - - - - - - -
// - - components

// - - global components styles
// exp: @import 'components/buttons';
@import 'components/animations';
@import 'components/components';
@import 'components/tables';
@import 'components/icons';
@import 'components/buttons';
@import 'components/forms';
@import 'components/modal';
@import 'components/footer';
@import 'components/header';
@import 'components/slider';
@import 'components/1200';
@import 'components/1024';
@import 'components/768';

// - - - - - - - - - - - - - - - - - - -
// - - pages

// - - home styles - a unique styles that implemented in a specific pages
// exp: @import 'pages/home';
@import 'pages/pages';